<section class="section-product-categories">
  <header class="section-header">
    <h1 class="woocommerce-products-header__title page-title">
      Categories
    </h1>
  </header>
  <div class="woocommerce columns-5">
    <div class="product-loop-categories">
      <div class="product-category product " *ngFor="let item of category_arr">
        <a routerLink="/productByCategory/{{ item.pk_category_id }}">
          <img
            src="assets/images/category/21.png"
            alt="Ultrabooks"
            width="224"
            height="197"
          />
          <h2 class="woocommerce-loop-category__title">
            {{ item.category_name }}
            <mark class="count">(5)</mark>
          </h2>
        </a>
      </div>
    </div>
    <!-- .product-loop-categories -->
  </div>
  <!-- .woocommerce -->
</section>
<!-- .section-product-categories -->
