<section class="section-recent-posts-with-categories">
  <div class="center-block">
    <h2 class="section-title">Welcome in Gaming World.</h2>
    <div class="description">
      Nullam dignissim elit ut urna rutrum, a fermentum mi auctor. Mauris
      efficitur magna orci, et dignissim lacus scelerisque sit amet. Proin
      malesuada tincidunt nisl ac commodo. Vivamus eleifend porttitor ex sit
      amet suscipit. Vestibulum at ullamcorper lacus, vel facilisis arcu.
      Aliquam erat volutpat.
    </div>
    <ul class="nav nav-inline categories">
      <li class="nav-item">
        <a href="blog-single.html" class="nav-link">Accessories</a>
      </li>
      <li class="nav-item">
        <a href="blog-single.html" class="nav-link">Design</a>
      </li>
      <li class="nav-item">
        <a href="blog-single.html" class="nav-link">Desktop PCs</a>
      </li>
      <li class="nav-item">
        <a href="blog-single.html" class="nav-link">Events</a>
      </li>
    </ul>
    <!-- .nav -->
  </div>
  <!-- .center-block -->
  <div class="post-items-wrap">
    <div class="post-items">
      <div class="post-item" *ngFor="let item of category_arr">
        <a
          routerLink="/productByCategory/{{ item.pk_category_id }}"
          class="post-thumbnail"
        >
          <img
            width="270"
            height="270"
            alt=""
            class="attachment-techmarket-blog-carousel size-techmarket-blog-carousel wp-post-image"
            src="assets/images/blog/sm-1.jpg"
          />
          <h3 align="center" class="post-title">
            {{ item.category_name }}
          </h3>
        </a>
      </div>
      <!-- .post-item -->
    </div>
    <!-- .post-items -->
  </div>
  <!-- .post-items-wrap -->
</section>
<!-- .section-recent-posts-with-categories -->
