<div id="content" class="site-content" *ngIf="flag == 'true'; else notLogin">
  <div class="col-full">
    <div class="row">
      <nav class="woocommerce-breadcrumb">
        <a routerLink="/">Home</a>
        <span class="delimiter">
          <i class="tm tm-breadcrumbs-arrow-right"></i>
        </span>
        Profile
      </nav>
      <!-- .woocommerce-breadcrumb -->
      <div id="primary" class="content-area">
        <main id="main" class="site-main">
          <div class="type-page hentry" *ngIf="notAllowedFlag == 0">
            <div class="entry-content">
              <div class="woocommerce">
                <div class="light-bg team-member-wrapper">
                  <div class="col-full">
                    <div class="row">
                      <div class="col-md-4"></div>
                      <div class="col-md-4" align="center">
                        <div class="team-member circle">
                          <img
                            src="assets/images/team-member/4.jpg"
                            alt="Not Available"
                            style="height: 250px; width: 250px"
                          />
                          <div>
                            <h3>
                              &nbsp; &nbsp; {{ name }}<br />
                              <small
                                class="description"
                                style="font-size: 15px;"
                                ><span class="fa fa-envelope"></span> :
                                {{ id }}</small
                              ><br />
                              <small class="description" style="font-size: 15px"
                                ><span class="fa fa-mobile"></span> :
                                {{ mobile }}</small
                              >
                            </h3>
                          </div>

                          <button
                            class="btn btn-danger btn-md"
                            type="button"
                            data-toggle="collapse"
                            data-target="#changePassword"
                            aria-expanded="false"
                            aria-controls="changePassword"
                          >
                            <span class="fa fa-pen"></span> Change Password
                          </button>
                          <br />
                          <br />
                          <div class="collapse" id="changePassword">
                            <div class="card card-body">
                              <form
                                [formGroup]="changePasswordForm"
                                (ngSubmit)="onPasswordChange()"
                              >
                                <div class="form-group">
                                  <input
                                    type="text"
                                    class="form-control"
                                    formControlName="user_old_password"
                                    placeholder="Enter Old Password"
                                  />
                                  <input
                                    type="text"
                                    class="form-control"
                                    formControlName="user_password"
                                    placeholder="Enter New Password"
                                  />
                                </div>
                                <button
                                  class="btn btn-success btn-user btn-block"
                                  type="submit"
                                  (click)="onPasswordChange()"
                                >
                                  Change
                                </button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- .col -->

                      <div class="col-md-4"></div>
                    </div>
                    <!-- .row -->

                    <div class="row">
                      <div class="col-md-12">
                        <section class="related">
                          <header class="section-header">
                            <h2 class="section-title">Your Recent Address</h2>
                            <nav class="custom-slick-nav"></nav>
                          </header>
                          <!-- .section-header -->
                          <div class="products">
                            <div
                              class="product"
                              *ngFor="let item of address_arr; let i = index"
                            >
                              <h2
                                class="woocommerce-loop-product__title text-primary"
                              >
                                {{ item.address_name }}
                              </h2>

                              <p>Address: {{ item.address_line_1 }}</p>
                              <p>{{ item.address_line_2 }}</p>
                              <p>{{ item.address_landmark }}</p>
                              <p>{{ item.address_city }}</p>
                              <p>Pincode: {{ item.address_pincode }}</p>

                              <div class="hover-area">
                                <span>
                                  <button
                                    class="btn btn-success"
                                    routerLink="/updateAddress/{{
                                      item.pk_address_id
                                    }}"
                                  >
                                    Edit
                                  </button>
                                  &nbsp;&nbsp;
                                  <button
                                    class="btn btn-danger"
                                    (click)="deleteAddress(item.pk_address_id)"
                                  >
                                    Delete
                                  </button>
                                </span>
                              </div>
                            </div>
                            <!-- /.product-outer -->
                            <div class="product" >
                              <button
                                type="button"
                                class="btn btn-success "
                                style="width: 70px;
                                height: 70px;
                                padding: 10px 16px;
                                font-size: 24px;
                                line-height: 1.33;
                                border-radius: 35px;
                                margin-top: 70px;"

                                data-toggle="collapse" data-target="#shipping-address" aria-controls="shipping-address"
                              >
                                <i class="fa fa-plus"></i>
                              </button>

                              <div class="hover-area">
                                <span>
                                  <p class="text-primary">Add New Address</p>
                                </span>
                              </div>
                            </div>
                            &nbsp; &nbsp;
                          </div>
                        </section>
                      </div>
                      <div class="clear"></div>
                      <!-- .single-product-wrapper -->
                    </div>
                  </div>
                  <!-- .container -->
                </div>
              </div>
            </div>
            <!-- .entry-content -->
            <div class="shipping_address collapse" id="shipping-address">
                <form action="#" class="checkout woocommerce-checkout" method="post" name="checkout" [formGroup]="addressForm"
                (ngSubmit)="newAddress()">
                    <div id="customer_details" class="col2-set">
                        <div class="col-1">
                            <div class="woocommerce-billing-fields">
                              <br/>
                                <h3>Add New Address</h3>
                                <div class="woocommerce-billing-fields__field-wrapper-outer">
                                    <div class="woocommerce-billing-fields__field-wrapper">
                                        <!-- <p id="billing_first_name_field" class="form-row form-row-first validate-required woocommerce-invalid woocommerce-invalid-required-field">
                                            <label class="" for="billing_first_name">First Name
                                                <abbr title="required" class="required">*</abbr>
                                            </label>
                                            <input type="text" value="" placeholder="" id="billing_first_name"   name="billing_first_name" class="input-text ">
                                        </p>
                                        <p id="billing_last_name_field" class="form-row form-row-last validate-required">
                                            <label class="" for="billing_last_name">Last Name
                                                <abbr title="required" class="required">*</abbr>
                                            </label>
                                            <input type="text" value="" placeholder="" id="billing_last_name" name="billing_last_name" class="input-text ">
                                        </p> -->
                                        <div class="clear"></div>
                                        <p id="billing_company_field" class="form-row form-row-wide">
                                              <label class="" for="billing_company">Address Name</label>
                                              <input type="text" value="" formControlName="address_name" placeholder="" id="billing_company" name="billing_company" class="input-text ">
                                          </p>
                                         <div class="clear"></div>
                                        <p id="billing_address_1_field" class="form-row form-row-wide address-field validate-required">
                                            <label class="" for="billing_address_1">Street address
                                                <abbr title="required" class="required">*</abbr>
                                            </label>
                                            <input type="text" value="" formControlName="address_line_1" placeholder="Street address" id="billing_address_1" name="billing_address_1" class="input-text ">
                                        </p>
                                        <p id="billing_address_2_field" class="form-row form-row-wide address-field">
                                            <input type="text" value="" formControlName="address_line_2" placeholder="Apartment, suite, unit etc. (optional)" id="billing_address_2" name="billing_address_2" class="input-text ">
                                        </p>
                                        <p id="billing_city_field" class="form-row form-row-wide address-field validate-required" data-o_class="form-row form-row form-row-wide address-field validate-required">
                                            <label class="" for="billing_city">Town / City
                                                <abbr title="required" class="required">*</abbr>
                                            </label>
                                            <input type="text" value="" formControlName="address_city" placeholder="" id="billing_city" name="billing_city" class="input-text ">
                                        </p>
                                        <p id="billing_postcode_field" class="form-row form-row-wide address-field validate-postcode validate-required" data-o_class="form-row form-row form-row-last address-field validate-required validate-postcode">
                                            <label class="" for="billing_postcode">Postcode / ZIP
                                                <abbr title="required" class="required">*</abbr>
                                            </label>
                                            <input type="text" value="" formControlName="address_pincode" placeholder="" id="billing_postcode" name="billing_postcode" class="input-text ">
                                        </p>
                                        <p id="billing_phone_field" class="form-row form-row-last validate-required validate-phone">
                                            <label class="" for="billing_phone">Phone
                                                <abbr title="required" class="required">*</abbr>
                                            </label>
                                            <input type="tel" value="" formControlName="address_mobile" placeholder="" id="billing_phone" name="billing_phone" class="input-text ">
                                        </p>
                                  <br/>
                                  <button type="submit"  *ngIf="addressForm.valid" class="btn btn-block btn-success">Save Address</button>
                                       
                                    </div>
                                </div>
                                <!-- .woocommerce-billing-fields__field-wrapper-outer -->
                            </div>
                            <!-- .woocommerce-billing-fields -->
                          
                            <!-- .woocommerce-account-fields -->
                        </div>
                        <!-- .col-1 -->
                      
                    </div>
                    <!-- .col2-set -->
                 
                </form>
                <!-- .woocommerce-checkout -->
        </div>
          </div>
          <!-- .hentry -->
          <div *ngIf="notAllowedFlag == 1">
            <div class="error404">
              <div class="info-404">
                <h2 class="title"></h2>
                <p class="lead error-text">*** Old Password is Wrong ***</p>
                <p class="lead">
                  You Don't have correct access to change password..!!!
                </p>
                <div class="sub-form-row">
                  <div class="widget woocommerce widget_product_search">
                    <form class="search-form">
                      <button class="button" type="button" (click)="tryAgain()">
                        Try Again
                      </button>
                    </form>
                  </div>
                </div>
              </div>
              <!-- .sub-form-row -->
            </div>
          </div>
        </main>
        <!-- #main -->
      </div>
      <!-- #primary -->
    </div>
    <!-- .row -->
  </div>
  <!-- .col-full -->
</div>
<!-- #content -->

<ng-template #notLogin>
  <app-not-login></app-not-login>
</ng-template>
