<div id="content" class="site-content">
  <div class="col-full">
    <div class="row">
      <nav class="woocommerce-breadcrumb">
        <a routerLink="/">Home</a>
        <span class="delimiter">
          <i class="tm tm-breadcrumbs-arrow-right"></i> </span
        >My Account
      </nav>
      <!-- .woocommerce-breadcrumb -->
      <div id="primary" class="content-area">
        <main id="main" class="site-main">
          <div>
            <h2>Login</h2>
            <form
              method="post"
              class="woocomerce-form woocommerce-form-login login"
              [formGroup]="forgotPasswordForm"
              (ngSubmit)="onSubmit(forgotPasswordForm.value)"
            >
              <p class="before-login-text">
                Vestibulum lacus magna, faucibus vitae dui eget, aliquam
                fringilla. In et commodo elit. Class aptent taciti sociosqu ad
                litora.
              </p>
              <p class="form-row form-row-wide">
                <label for="username"
                  >Username or email address
                  <span class="required">*</span>
                </label>
                <input
                  type="text"
                  formControlName="user_email"
                  class="input-text"
                  name="username"
                  id="username"
                  value=""
                />

                <label
                  class="text-danger"
                  *ngIf="
                    forgotPasswordForm.get('user_email').hasError('email') &&
                    !forgotPasswordForm.get('user_email').hasError('required')
                  "
                >
                  Please enter a valid email address
                </label>
                <label
                  class="text-danger"
                  *ngIf="
                    forgotPasswordForm.get('user_email').hasError('required') &&
                    forgotPasswordForm.get('user_email').touched
                  "
                >
                  Email is <strong>required</strong>
                </label>
              </p>

              <p class="form-row">
                <input
                  class="woocommerce-Button button"
                  type="submit"
                  value="Send Mail"
                  name="login"
                />
              </p>
              <p class="woocommerce-LostPassword lost_password">
                <a routerLink="/forgotPassword">Lost your password?</a>
              </p>
            </form>
            <!-- .woocommerce-form-login -->
          </div>
        </main>
      </div>
    </div>
  </div>
</div>
