<div id="content" class="site-content">
  <div class="col-full">
    <div class="row">
      <nav class="woocommerce-breadcrumb">
        <a routerLink="/">Home</a>
        <span class="delimiter">
          <i class="tm tm-breadcrumbs-arrow-right"></i>
        </span>
        Frequently Asked Questions
      </nav>
      <!-- .woocommerce-breadcrumb -->
      <div id="primary" class="content-area">
        <main id="main" class="site-main">
          <div class="type-page hentry">
            <header class="entry-header">
              <div class="page-header-caption">
                <h1 class="entry-title">Frequently Asked Questions</h1>
                <p class="entry-subtitle">Want to know know Somethig ?</p>
              </div>
            </header>
            <!-- .entry-header -->
            <div class="entry-content">
              <h2 class="kc_title faq-page-title">Ask here...</h2>
              <div class="row faq-first-row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <div>
                    <div class="card card-body">
                      <form [formGroup]="faqForm" (ngSubmit)="onFaq()">
                        <div class="form-group">
                          <textarea
                            rows="5"
                            cols="5"
                            class="form-control"
                            formControlName="faq_question"
                            placeholder="Enter Your Question Here..."
                          ></textarea>

                          <input
                            *ngIf="id == ''"
                            type="text"
                            class="form-control"
                            formControlName="fk_user_id"
                            placeholder="Enter Your Email Id"
                          />
                        </div>
                        <button
                          class="btn btn-success  btn-block"
                          type="submit"
                        >
                          Submit FAQs
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-md-3"></div>
              </div>
              <!-- .row -->

              <h3 class="faq-title-v2">Some Common Questions</h3>
              <div class="faq-subtitle">
                This Questions are modefied on 1<sup>st</sup> June, 2019
              </div>
              <div
                id="accordion"
                class="faq-accordion-wrap"
                role="tablist"
                aria-multiselectable="true"
              >
                <div class="card" *ngFor="let item of faq_arr; let i = index">
                  <div class="card-header" role="tab" id="heading{{ i }}">
                    <h5 class="mb-0">
                      <a
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#collapse{{ i }}"
                        aria-expanded="false"
                        [attr.aria-controls]="'collapse' + i"
                        class="collapsed"
                      >
                        <i class="icon"></i>
                        {{ item.faq_question }}
                      </a>
                    </h5>
                  </div>
                  <!-- .card-header -->
                  <div
                    id="collapse{{ i }}"
                    class="collapse"
                    role="tabpanel"
                    [attr.aria-labelledby]="'heading' + i"
                  >
                    <div class="card-block" *ngIf="item.faq_answer != ''">
                      {{ item.faq_answer }}
                    </div>
                    <div class="card-block" *ngIf="item.faq_answer == ''">
                      Please Wait for the Reply...
                    </div>
                  </div>
                  <!-- .collapse -->
                </div>
                <!-- .card -->
              </div>
              <!-- .faq-accordion-wrap -->
            </div>
            <!-- .entry-content -->
          </div>
          <!-- .hentry -->
        </main>
        <!-- #main -->
      </div>
      <!-- #primary -->
    </div>
    <!-- .row -->
  </div>
  <!-- .col-full -->
</div>
<!-- #content -->
