<div id="page" class="hfeed site">
  <app-header></app-header>
  <!-- ============================================================= Header End ============================================================= -->
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
<!-- For demo purposes – can be removed on production -->
<!-- <div id="config" class="config">
  <div id="config_wrapper">
      <div id="config_container">
          <div class="style-main-title">Style Selector</div>
          <div class="box-title">Choose Home &#038; Static Pages</div>
          <div class="input-box">
              <div class="input">
                  <select id="home-pages" name="home_page">
                      <option value="">Choose</option>
                      <option value="//transvelo.github.io/techmarket-html/home-v1.html">Home v1</option>
                      <option value="//transvelo.github.io/techmarket-html/home-v2.html">Home v2</option>
                      <option value="//transvelo.github.io/techmarket-html/home-v3.html">Home v3</option>
                      <option value="//transvelo.github.io/techmarket-html/home-v4.html">Home v4</option>
                      <option value="//transvelo.github.io/techmarket-html/home-v5.html">Home v5</option>
                      <option value="//transvelo.github.io/techmarket-html/home-v6.html">Home v6</option>
                      <option value="//transvelo.github.io/techmarket-html/home-v7.html">Home v7</option>
                      <option value="//transvelo.github.io/techmarket-html/home-v8.html">Home v8</option>
                      <option value="//transvelo.github.io/techmarket-html/home-v9.html">Home v9</option>
                      <option value="//transvelo.github.io/techmarket-html/home-v10.html">Home v10</option>
                      <option value="//transvelo.github.io/techmarket-html/home-v11.html">Home v11</option>
                      <option value="//transvelo.github.io/techmarket-html/home-v12.html">Home v12</option>
                      <option value="//transvelo.github.io/techmarket-html/home-v13.html">Home v13</option>
                      <option value="//transvelo.github.io/techmarket-html/home-v14.html">Home v14</option>
                      <option value="//transvelo.github.io/techmarket-html/landing-page-v1.html">Landing v1</option>
                      <option value="//transvelo.github.io/techmarket-html/landing-page-v2.html">Landing v2</option>
                      <option value="//transvelo.github.io/techmarket-html/about.html">About</option>
                      <option value="//transvelo.github.io/techmarket-html/contact-v1.html">Contact v1</option>
                      <option value="//transvelo.github.io/techmarket-html/contact-v2.html">Contact v2</option>
                      <option value="//transvelo.github.io/techmarket-html/terms-and-conditions.html">Terms and Conditions</option>
                      <option value="//transvelo.github.io/techmarket-html/404.html">404</option>
                  </select>
              </div>
          </div>
          <div class="box-title">Choose Ecommerce Page</div>
          <div class="input-box">
              <div class="input">
                  <select id="demo-pages" name="demo-shop">
                      <option value="">Choose</option>
                      <option value="//transvelo.github.io/techmarket-html/shop.html">Shop</option>
                      <option value="//transvelo.github.io/techmarket-html/login-and-register.html">My Account</option>
                      <option value="//transvelo.github.io/techmarket-html/cart.html">Cart</option>
                      <option value="//transvelo.github.io/techmarket-html/checkout.html">Checkout</option>
                      <option value="//transvelo.github.io/techmarket-html/track-your-order.html">Track Your Order</option>
                      <option value="//transvelo.github.io/techmarket-html/wishlist.html">Wishlist</option>
                      <option value="//transvelo.github.io/techmarket-html/compare.html">Compare</option>
                  </select>
              </div>
          </div>
          <div class="box-title">Choose Blog Style</div>
          <div class="input-box">
              <div class="input">
                  <select id="header-style" name="header">
                      <option value="">Choose</option>
                      <option value="//transvelo.github.io/techmarket-html/blog-v1.html">Blog v1</option>
                      <option value="//transvelo.github.io/techmarket-html/blog-v2.html">Blog v2</option>
                      <option value="//transvelo.github.io/techmarket-html/blog-v3.html">Blog v3</option>
                      <option value="//transvelo.github.io/techmarket-html/blog-single.html">Blog Single</option>
                      <option value="//transvelo.github.io/techmarket-html/blog-fullwidth.html">Blog Fullwidth</option>
                  </select>
              </div>
          </div>
          <div class="box-title">Choose Shop Pages</div>
          <div class="input-box">
              <div class="input">
                  <select id="shop-style" name="shop-style">
                      <option value="">Choose</option>
                      <option value="//transvelo.github.io/techmarket-html/shop-extended.html">Shop Extended</option>
                      <option value="//transvelo.github.io/techmarket-html/shop-fullwidth.html">Shop Fullwidth</option>
                      <option value="//transvelo.github.io/techmarket-html/shop-listing.html">Shop Listing</option>
                      <option value="//transvelo.github.io/techmarket-html/shop-listing-large.html">Shop Listing Large</option>
                      <option value="//transvelo.github.io/techmarket-html/shop-listing-with-product-sidebar.html">Shop Listing with Product Sidebar</option>
                      <option value="//transvelo.github.io/techmarket-html/shop-right-sidebar.html">Shop Right Sidebar</option>
                      <option value="//transvelo.github.io/techmarket-html/product-category.html">Product Category</option>
                  </select>
              </div>
          </div>
          <div class="box-title">Choose Single Product Pages</div>
          <div class="input-box">
              <div class="input">
                  <select id="single-products" name="single-product">
                      <option value="">Choose</option>
                      <option value="//transvelo.github.io/techmarket-html/single-product-sidebar.html">Single Product Sidebar</option>
                      <option value="//transvelo.github.io/techmarket-html/single-product-fullwidth.html">Single Product Fullwidth</option>
                      <option value="//transvelo.github.io/techmarket-html/single-product-ectended.html">Single Product Extended</option>
                  </select>
              </div>
          </div>
          <div class="box-title">Colors</div>
          <div id="colors" class="colors">
              <a class="changecolor blue" href="#" title="Blue color">Blue</a>
              <a class="changecolor flat-green" href="#" title="Flat Green color">Flat Green</a>
              <a class="changecolor green" href="#" title="Green color">Green</a>
              <a class="changecolor orange" href="#" title="Orange color">Orange</a>
              <a class="changecolor red" href="#" title="Red color">Red</a>
              <a class="changecolor yellow" href="#" title="Yellow color">Yellow</a>
          </div>
          <div class="box-title-text">
              <strong>Tons</strong> of customization you can do through Sass...</div>
      </div>
  </div>
  <div class="style-toggle open">
      <i class="fa fa-cog"></i>
  </div>
</div> -->
<!-- For demo purposes – can be removed on production : End -->
<script type="text/javascript" src="../assets/js/jquery.min.js"></script>
<script type="text/javascript" src="../assets/js/tether.min.js"></script>
<script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
<script
  type="text/javascript"
  src="../assets/js/jquery-migrate.min.js"
></script>
<script
  type="text/javascript"
  src="../assets/js/hidemaxlistitem.min.js"
></script>
<script type="text/javascript" src="../assets/js/jquery-ui.min.js"></script>
<script
  type="text/javascript"
  src="../assets/js/hidemaxlistitem.min.js"
></script>
<script type="text/javascript" src="../assets/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="../assets/js/scrollup.min.js"></script>
<script
  type="text/javascript"
  src="../assets/js/jquery.waypoints.min.js"
></script>
<script
  type="text/javascript"
  src="../assets/js/waypoints-sticky.min.js"
></script>
<script type="text/javascript" src="../assets/js/pace.min.js"></script>
<script type="text/javascript" src="../assets/js/slick.min.js"></script>
<script type="text/javascript" src="../assets/js/scripts.js"></script>
<!-- For demo purposes – can be removed on production -->
<script src="../assets/switchstylesheet.js"></script>
<!-- For demo purposes – can be removed on production : End -->
