<div id="content" class="site-content">
  <div class="col-full">
    <div class="row">
      <nav class="woocommerce-breadcrumb">
        <a routerLink="/">Home</a>
        <span class="delimiter">
          <i class="tm tm-breadcrumbs-arrow-right"></i> </span
        >Payment Success
      </nav>
      <div id="primary" class="content-area">
        <main id="main" class="site-main">
          <div class="error404">
            <div class="info-404 row">
              <h2 class="title col-md-6">
                <img src="../../assets/images/custom/paySuccess.jpg" alt="" />
              </h2>
              <div class="col-md-6">
                <p class="lead text-primary" style="text-align: left;">
                  <br /><br />
                  Order is Successfully Placed
                </p>
                <button
                  class="btn btn-success"
                  type="button"
                  routerLink="/orderHistory"
                >
                  View Order History
                </button>
              </div>

              <div class="sub-form-row">
                <div class="widget woocommerce widget_product_search">
                  <form class="search-form"></form>
                </div>
              </div>
            </div>
            <!-- .sub-form-row -->
          </div>
          <!-- .error404 -->
        </main>
        <!-- #main -->
      </div>
      <!-- #primary -->
    </div>
    <!-- .row -->
  </div>
  <!-- .col-full -->
</div>
<!-- #content -->
