<div id="content" class="site-content" *ngIf="flag == 'true'; else notLogin">
  <div class="col-full">
    <div class="row">
      <nav class="woocommerce-breadcrumb">
        <a routerLink="/">Home</a>
        <span class="delimiter">
          <i class="tm tm-breadcrumbs-arrow-right"></i>
        </span>

        Update Address
      </nav>
      <!-- .woocommerce-breadcrumb -->
      <div class="content-area" id="primary">
        <main class="site-main" id="main">
          <div class="type-page hentry">
            <div class="entry-content">
              <div class="woocommerce">
                <form
                  action="#"
                  class="checkout woocommerce-checkout"
                  method="post"
                  name="checkout"
                  [formGroup]="updateAddressForm"
                  (ngSubmit)="onUpdate(updateAddressForm.value)"
                >
                  <div id="customer_details" class="col2-set">
                    <div class="col-1">
                      <div class="woocommerce-billing-fields">
                        <h3>Address Detail</h3>
                        <div
                          class="woocommerce-billing-fields__field-wrapper-outer"
                        >
                          <div
                            class="woocommerce-billing-fields__field-wrapper"
                          >
                            <!-- <p id="billing_first_name_field" class="form-row form-row-first validate-required woocommerce-invalid woocommerce-invalid-required-field">
                                                      <label class="" for="billing_first_name">First Name
                                                          <abbr title="required" class="required">*</abbr>
                                                      </label>
                                                      <input type="text" value="" placeholder="" id="billing_first_name"   name="billing_first_name" class="input-text ">
                                                  </p>
                                                  <p id="billing_last_name_field" class="form-row form-row-last validate-required">
                                                      <label class="" for="billing_last_name">Last Name
                                                          <abbr title="required" class="required">*</abbr>
                                                      </label>
                                                      <input type="text" value="" placeholder="" id="billing_last_name" name="billing_last_name" class="input-text ">
                                                  </p> -->
                            <div class="clear"></div>
                            <p
                              id="billing_company_field"
                              class="form-row form-row-wide"
                            >
                              <label class="" for="billing_company"
                                >Address Name</label
                              >
                              <input
                                type="text"
                                value=""
                                formControlName="address_name"
                                placeholder=""
                                id="billing_company"
                                name="billing_company"
                                class="input-text "
                              />
                            </p>
                            <div class="clear"></div>
                            <p
                              id="billing_address_1_field"
                              class="form-row form-row-wide address-field validate-required"
                            >
                              <label class="" for="billing_address_1"
                                >Street address
                                <abbr title="required" class="required">*</abbr>
                              </label>
                              <input
                                type="text"
                                value=""
                                formControlName="address_line_1"
                                placeholder="Street address"
                                id="billing_address_1"
                                name="billing_address_1"
                                class="input-text "
                              />
                            </p>
                            <p
                              id="billing_address_2_field"
                              class="form-row form-row-wide address-field"
                            >
                              <input
                                type="text"
                                value=""
                                formControlName="address_line_2"
                                placeholder="Apartment, suite, unit etc. (optional)"
                                id="billing_address_2"
                                name="billing_address_2"
                                class="input-text "
                              />
                            </p>
                            <p
                              id="billing_city_field"
                              class="form-row form-row-wide address-field validate-required"
                              data-o_class="form-row form-row form-row-wide address-field validate-required"
                            >
                              <label class="" for="billing_city"
                                >Town / City
                                <abbr title="required" class="required">*</abbr>
                              </label>
                              <input
                                type="text"
                                value=""
                                formControlName="address_city"
                                placeholder=""
                                id="billing_city"
                                name="billing_city"
                                class="input-text "
                              />
                            </p>
                            <p
                              id="billing_postcode_field"
                              class="form-row form-row-wide address-field validate-postcode validate-required"
                              data-o_class="form-row form-row form-row-last address-field validate-required validate-postcode"
                            >
                              <label class="" for="billing_postcode"
                                >Postcode / ZIP
                                <abbr title="required" class="required">*</abbr>
                              </label>
                              <input
                                type="text"
                                value=""
                                formControlName="address_pincode"
                                placeholder=""
                                id="billing_postcode"
                                name="billing_postcode"
                                class="input-text "
                              />
                            </p>
                            <p
                              id="billing_phone_field"
                              class="form-row form-row-last validate-required validate-phone"
                            >
                              <label class="" for="billing_phone"
                                >Phone
                                <abbr title="required" class="required">*</abbr>
                              </label>
                              <input
                                type="tel"
                                value=""
                                formControlName="address_mobile"
                                placeholder=""
                                id="billing_phone"
                                name="billing_phone"
                                class="input-text "
                              />
                            </p>
                          </div>
                        </div>
                        <!-- .woocommerce-billing-fields__field-wrapper-outer -->
                      </div>
                      <!-- .woocommerce-billing-fields -->

                      <!-- .woocommerce-account-fields -->

                      <button type="submit" class="btn btn-success">
                        Update Address
                      </button>
                    </div>
                    <!-- .col-1 -->
                  </div>
                  <!-- .col2-set -->
                </form>
                <!-- .woocommerce-checkout -->
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>

<ng-template #notLogin>
  <app-login-signup></app-login-signup>
</ng-template>
