<div id="content" class="site-content" *ngIf="flag == 'true'; else notLogin">
  <div class="col-full">
      <div class="row">
          <nav class="woocommerce-breadcrumb">
              <a routerLink="/">Home</a>
              <span class="delimiter">
                  <i class="tm tm-breadcrumbs-arrow-right"></i>
              </span>
              <a routerLink="/cart">Cart</a>
              <span class="delimiter">
                  <i class="tm tm-breadcrumbs-arrow-right"></i>
              </span>
              Checkout
          </nav>
          <!-- .woocommerce-breadcrumb -->
          <div class="content-area" id="primary">
              <main class="site-main" id="main">
                  <div class="type-page hentry">
                      <div class="entry-content">
                          <div class="woocommerce">
                            
                             
                              <!-- .collapse -->
                             <!-- Show Saved Adderesses -->


                                  <section class="related">
                                    <header class="section-header">
                                      <h2 class="section-title">Select Your Address</h2>
                                      <nav class="custom-slick-nav"></nav>
                                    </header>
                                    <!-- .section-header -->
                                    <div class="products">
                                      <div class="product" *ngFor="let item of address_arr;let i =index">
                                       
                                          <h2 class="woocommerce-loop-product__title text-primary">
                                            {{ item.address_name }}
                                          </h2>

                                          <p>Address: {{item.address_line_1}}</p>
                                          <p>{{item.address_line_2}}
                                          <p>{{item.address_landmark}}</p>
                                          <p>{{item.address_city}}</p>
                                          <p>Pincode: {{item.address_pincode}}</p>
                                       
                                        <div class="hover-area">
                                          <a
                                            class="button add_to_cart_button"
                                            data-toggle="collapse" data-target="#shipping-address" aria-controls="shipping-address"
                                            (click)="selectAddress(i)"
                                            rel="nofollow"
                                            >Ship to this Address</a
                                          >
                                          
                                        </div>
                                      </div>
                                      <!-- /.product-outer -->
                                    </div>
                                  </section>
                                  <!-- .single-product-wrapper -->
                                  <br/><br/><br/>
                                  <div class="clear"></div>

                              <!-- Show Addresses finish-->
                              <div class="woocommerce-shipping-fields">
                                    <h3 id="ship-to-different-address">
                                        <label class="collapsed woocommerce-form__label woocommerce-form__label-for-checkbox checkbox" data-toggle="collapse" data-target="#shipping-address" aria-controls="shipping-address">
                                            <input id="ship-to-different-address-checkbox" class="woocommerce-form__input woocommerce-form__input-checkbox input-checkbox" type="checkbox" value="1" name="ship_to_different_address">
                                            <span>Ship to a different address?</span>
                                        </label>
                                    </h3>
                                    <div class="shipping_address collapse" id="shipping-address">
                                            <form action="#" class="checkout woocommerce-checkout" method="post" name="checkout" [formGroup]="checkoutForm"
                                            (ngSubmit)="onCheckout(checkoutForm.value)">
                                                <div id="customer_details" class="col2-set">
                                                    <div class="col-1">
                                                        <div class="woocommerce-billing-fields">
                                                            <h3>Billing Details</h3>
                                                            <div class="woocommerce-billing-fields__field-wrapper-outer">
                                                                <div class="woocommerce-billing-fields__field-wrapper">
                                                                    <!-- <p id="billing_first_name_field" class="form-row form-row-first validate-required woocommerce-invalid woocommerce-invalid-required-field">
                                                                        <label class="" for="billing_first_name">First Name
                                                                            <abbr title="required" class="required">*</abbr>
                                                                        </label>
                                                                        <input type="text" value="" placeholder="" id="billing_first_name"   name="billing_first_name" class="input-text ">
                                                                    </p>
                                                                    <p id="billing_last_name_field" class="form-row form-row-last validate-required">
                                                                        <label class="" for="billing_last_name">Last Name
                                                                            <abbr title="required" class="required">*</abbr>
                                                                        </label>
                                                                        <input type="text" value="" placeholder="" id="billing_last_name" name="billing_last_name" class="input-text ">
                                                                    </p> -->
                                                                    <div class="clear"></div>
                                                                    <p id="billing_company_field" class="form-row form-row-wide">
                                                                          <label class="" for="billing_company">Address Name</label>
                                                                          <input type="text" value="" formControlName="address_name" placeholder="" id="billing_company" name="billing_company" class="input-text ">
                                                                      </p>
                                                                     <div class="clear"></div>
                                                                    <p id="billing_address_1_field" class="form-row form-row-wide address-field validate-required">
                                                                        <label class="" for="billing_address_1">Street address
                                                                            <abbr title="required" class="required">*</abbr>
                                                                        </label>
                                                                        <input type="text" value="" formControlName="address_line_1" placeholder="Street address" id="billing_address_1" name="billing_address_1" class="input-text ">
                                                                    </p>
                                                                    <p id="billing_address_2_field" class="form-row form-row-wide address-field">
                                                                        <input type="text" value="" formControlName="address_line_2" placeholder="Apartment, suite, unit etc. (optional)" id="billing_address_2" name="billing_address_2" class="input-text ">
                                                                    </p>
                                                                    <p id="billing_city_field" class="form-row form-row-wide address-field validate-required" data-o_class="form-row form-row form-row-wide address-field validate-required">
                                                                        <label class="" for="billing_city">Town / City
                                                                            <abbr title="required" class="required">*</abbr>
                                                                        </label>
                                                                        <input type="text" value="" formControlName="address_city" placeholder="" id="billing_city" name="billing_city" class="input-text ">
                                                                    </p>
                                                                    <p id="billing_postcode_field" class="form-row form-row-wide address-field validate-postcode validate-required" data-o_class="form-row form-row form-row-last address-field validate-required validate-postcode">
                                                                        <label class="" for="billing_postcode">Postcode / ZIP
                                                                            <abbr title="required" class="required">*</abbr>
                                                                        </label>
                                                                        <input type="text" value="" formControlName="address_pincode" placeholder="" id="billing_postcode" name="billing_postcode" class="input-text ">
                                                                    </p>
                                                                    <p id="billing_phone_field" class="form-row form-row-last validate-required validate-phone">
                                                                        <label class="" for="billing_phone">Phone
                                                                            <abbr title="required" class="required">*</abbr>
                                                                        </label>
                                                                        <input type="tel" value="" formControlName="address_mobile" placeholder="" id="billing_phone" name="billing_phone" class="input-text ">
                                                                    </p>
                                                                   
                                                                </div>
                                                            </div>
                                                            <!-- .woocommerce-billing-fields__field-wrapper-outer -->
                                                        </div>
                                                        <!-- .woocommerce-billing-fields -->
                                                      
                                                        <!-- .woocommerce-account-fields -->
                                                    </div>
                                                    <!-- .col-1 -->
                                                    <div class="col-2">
                                                        
                                                        <div class="woocommerce-additional-fields">
                                                            <div class="woocommerce-additional-fields__field-wrapper">
                                                                <p id="order_comments_field" class="form-row notes">
                                                                    <label class="" for="order_comments">Order notes</label>
                                                                    <textarea cols="5" rows="2" placeholder="Notes about your order, e.g. special notes for delivery." id="order_comments" class="input-text " name="order_comments"></textarea>
                                                                </p>
                                                            </div>
                                                            <!-- .woocommerce-additional-fields__field-wrapper-->
                                                        </div>
                                                        <!-- .woocommerce-additional-fields -->
                                                    </div>
                                                    <!-- .col-2 -->
                                                </div>
                                                <!-- .col2-set -->
                                                <h3 id="order_review_heading">Your order</h3>
                                                <div class="woocommerce-checkout-review-order" id="order_review">
                                                    <div class="order-review-wrapper">
                                                        <h3 class="order_review_heading">Your Order</h3>
                                                        <table class="shop_table woocommerce-checkout-review-order-table">
                                                            <thead>
                                                                <tr>
                                                                    <th class="product-name">Product</th>
                                                                    <th class="product-total">Total</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="cart_item" *ngFor="let itemCart of cart_arr;let ic = index">
                                                                    <td class="product-name">
                                                                        <strong class="product-quantity">{{qty_arr[ic]}} ×</strong>{{productName_arr[ic]}} &nbsp;
                                                                    </td>
                                                                    <td class="product-total">
                                                                        <span class="woocommerce-Price-amount amount">
                                                                            <span class="woocommerce-Price-currencySymbol"><i class="fa fa-inr"></i></span>{{qty_arr[ic] * productPrice_arr[ic]}}</span>
                                                                    </td>
                                                                </tr>
                                                               
                                                            </tbody>
                                                            <tfoot>
                                                                <tr class="cart-subtotal">
                                                                    <th>Subtotal</th>
                                                                    <td>
                                                                        <span class="woocommerce-Price-amount amount">
                                                                            <span class="woocommerce-Price-currencySymbol"><i class="fa fa-inr"></i></span>{{grandTotal}}</span>
                                                                    </td>
                                                                </tr>
                                                                <tr class="order-total">
                                                                    <th>Total</th>
                                                                    <td>
                                                                        <strong>
                                                                            <span class="woocommerce-Price-amount amount">
                                                                                <span class="woocommerce-Price-currencySymbol"><i class="fa fa-inr"></i></span>{{grandTotal}}</span>
                                                                        </strong>
                                                                    </td>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                        <!-- /.woocommerce-checkout-review-order-table -->
                                                        <div class="woocommerce-checkout-payment" id="payment">
                                                         
                                                            <div class="form-row place-order">
                                                                <!-- <p class="form-row terms wc-terms-and-conditions woocommerce-validated">
                                                                    <label class="woocommerce-form__label woocommerce-form__label-for-checkbox checkbox">
                                                                        <input type="checkbox" formControlName="term" id="terms" name="terms" class="woocommerce-form__input woocommerce-form__input-checkbox input-checkbox">
                                                                        <span>I’ve read and accept the <a class="woocommerce-terms-and-conditions-link" href="terms-and-conditions.html">terms &amp; conditions</a></span>
                                                                        <span class="required">*</span>
                                                                    </label>
                                                                    <input type="hidden" value="1" name="terms-field">
                                                                </p> -->
                                                                <button type="submit"  *ngIf="checkoutForm.valid" class="button wc-forward text-center">Place order</button>
                                                            </div>
                                                        </div>
                                                        <!-- /.woocommerce-checkout-payment -->
                                                       
                                                    </div>
                                                    <!-- /.order-review-wrapper -->
                                                </div>
                                                <!-- .woocommerce-checkout-review-order -->
                                            </form>
                                            <!-- .woocommerce-checkout -->
                                    </div>
                                    <!-- .shipping_address -->
                                </div>
                                <!-- .woocommerce-shipping-fields -->


                              
                          </div>
                          <!-- .woocommerce -->
                      </div>
                      <!-- .entry-content -->
                  </div>
                  <!-- #post-## -->
              </main>
              <!-- #main -->
          </div>
          <!-- #primary -->
      </div>
      <!-- .row -->
  </div>
  <!-- .col-full -->
</div>
<!-- #content -->

<ng-template #notLogin>
    <app-not-login></app-not-login>
</ng-template>