<section class="section-products-with-image">
  <header class="section-header">
    <div class="col-full">
      <div class="row">
        <div class="product-info">
          <h2 class="section-title">Desktops PCs</h2>
          <div class="description">
            Donec id malesuada elit. Donec tempor sit amet est ac blandit.
            Phasellus ac sem nisl. Vestibulum aliquam, ligula in pretium congue,
            massa felis ultrices metus, nec mattis elit diam lobortis justo. Ut
            dapibus gravida eros ac bibendum. Phasellus ac tempus libero. Mauris
            eleifend, mi at viverra scelerisque, dolor leo luctus justo, id
            fermentum tellus nisl eget est.
          </div>
        </div>
        <div class="product-image">
          <img alt="" src="assets/images/products/landing-1.png" />
        </div>
      </div>
    </div>
  </header>
  <!-- .section-header -->
  <div class="woocommerce columns-5">
    <div class="products">
      <div class="product first">
        <a
          class="woocommerce-LoopProduct-link woocommerce-loop-product__link"
          routerLink="/singleProduct"
        >
          <img
            width="224"
            height="197"
            alt=""
            class="attachment-shop_catalog size-shop_catalog wp-post-image"
            src="assets/images/products/1.jpg"
          />
          <span class="price">
            <span class="woocommerce-Price-amount amount">
              <span class="woocommerce-Price-currencySymbol">$</span>57.99</span
            >
          </span>
          <!-- .price -->
          <h2 class="woocommerce-loop-product__title">On-ear Wireless NXTG</h2>
        </a>
        <!-- .woocommerce-LoopProduct-link -->
        <div class="techmarket-product-rating">
          <div class="star-rating" title="Rated 0 out of 5">
            <span style="width:0%">
              <strong class="rating">0</strong> out of 5</span
            >
          </div>
          <span class="review-count">(0)</span>
        </div>
        <div class="hover-area">
          <a class="button" href="cart.html">Add to cart</a>
          <a class="add-to-compare-link" href="compare.html">Add to compare</a>
        </div>
        <!-- .hover-area -->
      </div>
      <!-- .product -->
      <div class="product ">
        <a
          class="woocommerce-LoopProduct-link woocommerce-loop-product__link"
          routerLink="/singleProduct"
        >
          <img
            width="224"
            height="197"
            alt=""
            class="attachment-shop_catalog size-shop_catalog wp-post-image"
            src="assets/images/products/2.jpg"
          />
          <span class="price">
            <span class="woocommerce-Price-amount amount">
              <span class="woocommerce-Price-currencySymbol">$</span>57.99</span
            >
          </span>
          <!-- .price -->
          <h2 class="woocommerce-loop-product__title">On-ear Wireless NXTG</h2>
        </a>
        <!-- .woocommerce-LoopProduct-link -->
        <div class="techmarket-product-rating">
          <div class="star-rating" title="Rated 0 out of 5">
            <span style="width:0%">
              <strong class="rating">0</strong> out of 5</span
            >
          </div>
          <span class="review-count">(0)</span>
        </div>
        <div class="hover-area">
          <a class="button" href="cart.html">Add to cart</a>
          <a class="add-to-compare-link" href="compare.html">Add to compare</a>
        </div>
        <!-- .hover-area -->
      </div>
      <!-- .product -->
      <div class="product ">
        <a
          class="woocommerce-LoopProduct-link woocommerce-loop-product__link"
          routerLink="/singleProduct"
        >
          <img
            width="224"
            height="197"
            alt=""
            class="attachment-shop_catalog size-shop_catalog wp-post-image"
            src="assets/images/products/3.jpg"
          />
          <span class="price">
            <span class="woocommerce-Price-amount amount">
              <span class="woocommerce-Price-currencySymbol">$</span>57.99</span
            >
          </span>
          <!-- .price -->
          <h2 class="woocommerce-loop-product__title">On-ear Wireless NXTG</h2>
        </a>
        <!-- .woocommerce-LoopProduct-link -->
        <div class="techmarket-product-rating">
          <div class="star-rating" title="Rated 0 out of 5">
            <span style="width:0%">
              <strong class="rating">0</strong> out of 5</span
            >
          </div>
          <span class="review-count">(0)</span>
        </div>
        <div class="hover-area">
          <a class="button" href="cart.html">Add to cart</a>
          <a class="add-to-compare-link" href="compare.html">Add to compare</a>
        </div>
        <!-- .hover-area -->
      </div>
      <!-- .product -->
      <div class="product ">
        <a
          class="woocommerce-LoopProduct-link woocommerce-loop-product__link"
          routerLink="/singleProduct"
        >
          <img
            width="224"
            height="197"
            alt=""
            class="attachment-shop_catalog size-shop_catalog wp-post-image"
            src="assets/images/products/4.jpg"
          />
          <span class="price">
            <span class="woocommerce-Price-amount amount">
              <span class="woocommerce-Price-currencySymbol">$</span>57.99</span
            >
          </span>
          <!-- .price -->
          <h2 class="woocommerce-loop-product__title">On-ear Wireless NXTG</h2>
        </a>
        <!-- .woocommerce-LoopProduct-link -->
        <div class="techmarket-product-rating">
          <div class="star-rating" title="Rated 0 out of 5">
            <span style="width:0%">
              <strong class="rating">0</strong> out of 5</span
            >
          </div>
          <span class="review-count">(0)</span>
        </div>
        <div class="hover-area">
          <a class="button" href="cart.html">Add to cart</a>
          <a class="add-to-compare-link" href="compare.html">Add to compare</a>
        </div>
        <!-- .hover-area -->
      </div>
      <!-- .product -->
      <div class="product last">
        <a
          class="woocommerce-LoopProduct-link woocommerce-loop-product__link"
          routerLink="/singleProduct"
        >
          <img
            width="224"
            height="197"
            alt=""
            class="attachment-shop_catalog size-shop_catalog wp-post-image"
            src="assets/images/products/5.jpg"
          />
          <span class="price">
            <span class="woocommerce-Price-amount amount">
              <span class="woocommerce-Price-currencySymbol">$</span>57.99</span
            >
          </span>
          <!-- .price -->
          <h2 class="woocommerce-loop-product__title">On-ear Wireless NXTG</h2>
        </a>
        <!-- .woocommerce-LoopProduct-link -->
        <div class="techmarket-product-rating">
          <div class="star-rating" title="Rated 0 out of 5">
            <span style="width:0%">
              <strong class="rating">0</strong> out of 5</span
            >
          </div>
          <span class="review-count">(0)</span>
        </div>
        <div class="hover-area">
          <a class="button" href="cart.html">Add to cart</a>
          <a class="add-to-compare-link" href="compare.html">Add to compare</a>
        </div>
        <!-- .hover-area -->
      </div>
      <!-- .product -->
    </div>
    <!-- .products -->
  </div>
  <!-- .woocommerce -->
  <a href="shop.html" class="load-more-button">Shop All Desktops PCs</a>
</section>
<!-- .section-products-with-image -->
