<section class="section-products-with-image">
  <header class="section-header">
    <div class="col-full">
      <div class="row">
        <div class="product-info">
          <h2 class="section-title">Desktops PCs</h2>
          <div class="description">
            Donec id malesuada elit. Donec tempor sit amet est ac blandit.
            Phasellus ac sem nisl. Vestibulum aliquam, ligula in pretium congue,
            massa felis ultrices metus, nec mattis elit diam lobortis justo. Ut
            dapibus gravida eros ac bibendum. Phasellus ac tempus libero. Mauris
            eleifend, mi at viverra scelerisque, dolor leo luctus justo, id
            fermentum tellus nisl eget est.
          </div>
        </div>
        <div class="product-image">
          <img alt="" src="assets/images/products/landing-1.png" />
        </div>
      </div>
    </div>
  </header>
  <!-- .section-header -->
  <div class="woocommerce columns-5">
    <div class="products">
      <div class="product " *ngFor="let item of product_arr; let i = index">
        <ng-container *ngIf="i > product_arr.length - 6">
          <a
            class="woocommerce-LoopProduct-link woocommerce-loop-product__link"
            routerLink="/singleProduct/{{ item.pk_product_id }}"
          >
            <img
              width="224"
              height="197"
              alt=""
              class="attachment-shop_catalog size-shop_catalog wp-post-image"
              src="http://localhost:3000{{ item.image_url }}"
            />
            <span class="price">
              <span class="woocommerce-Price-amount amount">
                <del
                  ><span class="woocommerce-Price-currencySymbol">
                    <i class="fa fa-inr"></i>
                    {{ item.product_sale_price }}</span
                  ></del
                >
              </span>
              <br />
              <span class="woocommerce-Price-amount amount">
                <span class="woocommerce-Price-currencySymbol">
                  <i class="fa fa-inr"></i> </span
                >{{ item.product_sale_price }}
              </span>
            </span>
            <!-- .price -->
            <h2 class="woocommerce-loop-product__title">
              {{ item.product_name }}
            </h2>
          </a>
          <!-- .woocommerce-LoopProduct-link -->
          <div class="techmarket-product-rating">
            <div class="star-rating" title="Rated 0 out of 5">
              <span style="width:0%">
                <strong class="rating">5</strong> out of 5</span
              >
            </div>
            <span class="review-count">(0)</span>
          </div>
          <div class="hover-area">
            <a class="button" href="cart.html">Add to cart</a>
            <a class="add-to-compare-link" href="compare.html"
              >Add to compare</a
            >
          </div>
          <!-- .hover-area -->
        </ng-container>
      </div>
      <!-- .product -->
    </div>
    <!-- .products -->
  </div>
  <!-- .woocommerce -->
  <a routerLink="/productAll" class="load-more-button">Show All Products</a>
</section>
<!-- .section-products-with-image -->
