<div id="content" class="site-content">
  <div class="col-full">
    <div class="row">
      <nav class="woocommerce-breadcrumb">
        <a routerLink="/">Home</a>
        <span class="delimiter">
          <i class="tm tm-breadcrumbs-arrow-right"></i> </span
        >Verification Page
      </nav>
      <!-- .woocommerce-breadcrumb -->
      <div id="primary" class="content-area">
        <main id="main" class="site-main">
          <div>
            <h2>Login</h2>
            <form
              method="post"
              class="woocomerce-form woocommerce-form-login login"
              [formGroup]="verificationForm"
              (ngSubmit)="onSubmit(verificationForm.value)"
            >
              <p class="before-login-text"></p>
              <p class="form-row form-row-wide">
                <label for="username"
                  >Verification Code:
                  <span class="required">*</span>
                </label>
                <input
                  type="text"
                  formControlName="verification_code"
                  class="input-text"
                  name="username"
                  id="username"
                  value=""
                />

                <label
                  class="text-danger"
                  *ngIf="
                    verificationForm
                      .get('verification_code')
                      .hasError('required') &&
                    verificationForm.get('verification_code').touched
                  "
                >
                  Verification Code is <strong>required</strong>
                </label>
              </p>

              <p class="form-row">
                <input
                  class="woocommerce-Button button"
                  type="submit"
                  value="Verify"
                  name="login"
                />
              </p>
            </form>
            <!-- .woocommerce-form-login -->

            <div class="text-success" *ngIf="verify_flag == 1">
              You are Verified You Can Login Now:
              <a routerLink="/loginSignup">Login Now</a>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>
