<div class="container-fluid" *ngIf="flag == 'true'; else notLogin">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">FAQs</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        All FAQs
      </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>Question</th>
              <th>Answer</th>
              <th>User Mail Id</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody *ngFor="let item of faq_arr">
            <tr>
              <td>{{ item.faq_question }}</td>
              <td>{{ item.faq_answer }}</td>
              <td>{{ item.fk_user_id }}</td>
              <td>
                <button
                  class="btn btn-danger btn-md"
                  (click)="deleteFaq(item.pk_faq_id)"
                >
                  <span class="fa fa-trash"></span>
                </button>
                &nbsp;
                <button
                  class="btn btn-success btn-md"
                  routerLink="/updateFaq/{{ item.pk_faq_id }}"
                >
                  <span class="fa fa-pencil"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #notLogin>
  <app-not-login></app-not-login>
</ng-template>
