<div class="container" *ngIf="flag == 'true'; else notLogin">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image">
              <img
                src="https://apps.odoo.com/apps/icon_image?module_id=32428"
                height="100%"
                width="100%"
              />
            </div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Update Product</h1>
                </div>
                <form
                  class="product"
                  [formGroup]="updateProductForm"
                  (ngSubmit)="onSubmit(updateProductForm.value)"
                  enctype="multipart/form-data"
                >
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control form-control-product"
                      placeholder="Enter Name here..."
                      formControlName="product_name"
                    />
                    <label
                      class="text-danger"
                      *ngIf="
                        updateProductForm
                          .get('product_name')
                          .hasError('required') &&
                        updateProductForm.get('product_name').touched
                      "
                    >
                      Name is <strong>required</strong>
                    </label>
                  </div>

                  <div class="form-group">
                    <textarea
                      class="form-control form-control-product"
                      aria-describedby=""
                      placeholder="Enter Description..."
                      formControlName="product_desc"
                    ></textarea>

                    <label
                      class="text-danger"
                      *ngIf="
                        updateProductForm
                          .get('product_desc')
                          .hasError('required') &&
                        updateProductForm.get('product_desc').touched
                      "
                    >
                      Description is <strong>required</strong>
                    </label>
                  </div>

                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control form-control-product"
                      placeholder="Enter Price here..."
                      formControlName="product_price"
                    />
                    <label
                      class="text-danger"
                      *ngIf="
                        updateProductForm
                          .get('product_price')
                          .hasError('required') &&
                        updateProductForm.get('product_price').touched
                      "
                    >
                      product price is <strong>required</strong>
                    </label>
                  </div>

                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control form-control-product"
                      placeholder="Enter Sale Price here..."
                      formControlName="product_sale_price"
                    />
                    <label
                      class="text-danger"
                      *ngIf="
                        updateProductForm
                          .get('product_sale_price')
                          .hasError('required') &&
                        updateProductForm.get('product_sale_price').touched
                      "
                    >
                      Sale price is <strong>required</strong>
                    </label>
                  </div>

                  <div class="form-group">
                    <select
                      class="form-control form-control-product"
                      placeholder="Select Category of product here..."
                      formControlName="fk_category_id"
                    >
                      <option value="0">None</option>
                      <option
                        *ngFor="let item of category_arr"
                        value="{{ item.pk_category_id }}"
                        >{{ item.category_name }}</option
                      >
                    </select>
                  </div>

                  <div class="form-group">
                    <input
                      type="file"
                      multiple
                      (change)="onFileSelect($event)"
                      accept=".jpeg , .jpg"
                      #image_url
                    />
                  </div>
                  <img
                    *ngFor="let item of file_srcs"
                    [attr.src]="item"
                    alt=""
                    height="50"
                    width="50"
                  />

                  <div class="form-group">
                    <select
                      class="form-control form-control-productFeature"
                      aria-describedby=""
                      placeholder="Enter feature id..."
                      formControlName="fk_feature_id"
                    >
                      <option selected="selected">Select Feature</option>
                      <option
                        *ngFor="let item of feature_arr"
                        value="{{ item.pk_feature_id }}"
                      >
                        {{ item.feature_name }}</option
                      >
                    </select>

                    <label
                      class="text-danger"
                      *ngIf="
                        updateProductForm
                          .get('fk_feature_id')
                          .hasError('required') &&
                        updateProductForm.get('fk_feature_id').touched
                      "
                    >
                      Feature is <strong>required</strong>
                    </label>
                  </div>

                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control form-control-productFeature"
                      placeholder="Enter Feature Value here..."
                      formControlName="feature_value"
                    />
                    <label
                      class="text-danger"
                      *ngIf="
                        updateProductForm
                          .get('feature_value')
                          .hasError('required') &&
                        updateProductForm.get('feature_value').touched
                      "
                    >
                      value is <strong>required</strong>
                    </label>
                  </div>
                  <a
                    class="btn btn-default btn-product btn-block"
                    [routerLink]="['/insertProductFeature/id']"
                    routerLinkActive="router-link-active"
                  >
                    Add More Feature
                  </a>
                  <button
                    class="btn btn-primary btn-product btn-block"
                    type="submit"
                    [disabled]="updateProductForm.invalid"
                  >
                    Update
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #notLogin>
  <h1 class="h3 mb-2 text-gray-800 text-danger">
    You Can Not Access This Page...!!!!
  </h1>
</ng-template>
