<div id="content" class="site-content">
  <div class="col-full">
    <div class="row">
      <nav class="woocommerce-breadcrumb">
        <a routerLink="/">Home</a>
        <span class="delimiter">
          <i class="tm tm-breadcrumbs-arrow-right"></i>
        </span>
        Terms and Conditions
      </nav>
      <!-- .woocommerce-breadcrumb -->
      <div id="primary" class="content-area">
        <main id="main" class="site-main">
          <div class="type-page hentry">
            <header class="entry-header">
              <div class="page-header-caption">
                <h1 class="entry-title">Terms and Conditions</h1>
                <p class="entry-subtitle">
                  This Agreement was last modified on 18 February 2019.
                </p>
              </div>
            </header>
            <div class="entry-content">
              <section class="section terms-conditions">
                <h2>Intellectual Property</h2>
                <ol>
                  <li>
                    THIS PRIVACY POLICY IS AN ELECTRONIC RECORD IN THE FORM OF
                    AN ELECTRONIC CONTRACT FORMED UNDER THE INFORMATION
                    TECHNOLOGY ACT, 2000 AND THE RULES MADE THEREUNDER AND THE
                    AMENDED PROVISIONS PERTAINING TO ELECTRONIC DOCUMENTS /
                    RECORDS IN VARIOUS STATUTES AS AMENDED BY THE INFORMATION
                    TECHNOLOGY ACT, 2000. THIS PRIVACY POLICY DOES NOT REQUIRE
                    ANY PHYSICAL, ELECTRONIC OR DIGITAL SIGNATURE.
                  </li>
                  <li>
                    THIS PRIVACY POLICY IS A LEGALLY BINDING DOCUMENT BETWEEN
                    YOU AND SNAPDEAL (BOTH TERMS DEFINED BELOW). THE TERMS OF
                    THIS PRIVACY POLICY WILL BE EFFECTIVE UPON YOUR ACCEPTANCE
                    OF THE SAME (DIRECTLY OR INDIRECTLY IN ELECTRONIC FORM, BY
                    CLICKING ON THE I ACCEPT TAB OR BY USE OF THE WEBSITE OR BY
                    OTHER MEANS) AND WILL GOVERN THE RELATIONSHIP BETWEEN YOU
                    AND SNAPDEAL FOR YOUR USE OF THE WEBSITE (DEFINED BELOW).
                  </li>
                  <li>
                    THIS DOCUMENT IS PUBLISHED AND SHALL BE CONSTRUED IN
                    ACCORDANCE WITH THE PROVISIONS OF THE INFORMATION TECHNOLOGY
                    (REASONABLE SECURITY PRACTICES AND PROCEDURES AND SENSITIVE
                    PERSONAL DATA OF INFORMATION) RULES, 2011 UNDER INFORMATION
                    TECHNOLOGY ACT, 2000; THAT REQUIRE PUBLISHING OF THE PRIVACY
                    POLICY FOR COLLECTION, USE, STORAGE AND TRANSFER OF
                    SENSITIVE PERSONAL DATA OR INFORMATION
                  </li>
                  <li>
                    PLEASE READ THIS PRIVACY POLICY CAREFULLY. BY USING THE
                    WEBSITE, YOU INDICATE THAT YOU UNDERSTAND, AGREE AND CONSENT
                    TO THIS PRIVACY POLICY. IF YOU DO NOT AGREE WITH THE TERMS
                    OF THIS PRIVACY POLICY, PLEASE DO NOT USE THIS WEBSITE. YOU
                    HEREBY PROVIDE YOUR UNCONDITIONAL CONSENT OR AGREEMENTS TO
                    SNAPDEAL AS PROVIDED UNDER SECTION 43A AND SECTION 72A OF
                    INFORMATION TECHNOLOGY ACT, 2000.
                  </li>
                  <li>
                    By providing us your Information or by making use of the
                    facilities provided by the Website, You hereby consent to
                    the collection, storage, processing and transfer of any or
                    all of Your Personal Information and Non-Personal
                    Information by Snapdeal as specified under this Privacy
                    Policy. You further agree that such collection, use, storage
                    and transfer of Your Information shall not cause any loss or
                    wrongful gain to you or any other person.
                  </li>
                  <li>
                    The type of data or information that You share with or
                    provide to Snapdeal and that Snapdeal collects from You; The
                    purpose for collection of such data or information from You;
                  </li>
                </ol>
                <h2>Termination</h2>
                <ol>
                  <li>
                    its subsidiaries and affiliates and Associate Companies
                    (individually and/ or collectively, "Snapdeal") is/are
                    concerned about the privacy of the data and information of
                    users (including sellers and buyers/customers whether
                    registered or non-registered) accessing, offering, selling
                    or purchasing products or services on Snapdeal's websites,
                    mobile sites or mobile applications ("Website") on the
                    Website and otherwise doing business with Snapdeal.
                    "Associate Companies" here shall have the same meaning as
                    ascribed in Companies Act, 2013. The terms "We" / "Us" /
                    "Our" individually and collectively refer to each entity
                    being part of the definition of Snapdeal and the terms "You"
                    /"Your" / "Yourself" refer to the users. This Privacy Policy
                    is a contract between You and the respective Snapdeal entity
                    whose Website You use or access or You otherwise deal with.
                    This Privacy Policy shall be read together with the
                    respective Terms Of Use or other terms and condition of the
                    respective Snapdeal entity and its respective Website or
                    nature of business of the Website.
                  </li>
                  <li>
                    Personal Information: Personal Information is Information
                    collected that can be used to uniquely identify or contact
                    You. Personal Information for the purposes of this Privacy
                    Policy shall include, but not be limited to: Your user name
                    along with Your password, Your name, Your address, Your
                    telephone number, Your e-mail address or other contact
                    information, Your date of birth, Your gender, Information
                    regarding your transactions on the Website, (including sales
                    or purchase history), Your financial information such as
                    bank account information or credit card or debit card or
                    other payment instrument details including OTP, Internet
                    Protocol address, Any other items of ‘sensitive personal
                    data or information' as such term is defined under the
                    Information Technology (Reasonable Security Practices And
                    Procedures And Sensitive Personal Data Of Information)
                    Rules, 2011 enacted under the Information Technology Act,
                    2000; Identification code of your communication device which
                    You use to access the Website or otherwise deal with any
                    Snapdeal entity,
                  </li>
                  <li>
                    Non-Personal Information: Snapdeal may also collect
                    information other than Personal Information from You through
                    the Website when You visit and / or use the Website. Such
                    information may be stored in server logs. This Non-Personal
                    Information would not assist Snapdeal to identify You
                    personally. This Non-Personal Information may include: Your
                    geographic location, details of Your telecom service
                    provider or internet service provider,
                  </li>
                  <li>
                    the Information you provide to Snapdeal from time to time is
                    and shall be authentic, correct, current and updated and You
                    have all the rights, permissions and consents as may be
                    required to provide such Information to MNC.
                  </li>
                  <li>
                    You hereby unconditionally agree and permit that Snapdeal
                    may transfer, share, disclose or part with all or any of
                    Your Information, within and outside of the Republic of
                    India to various Snapdeal entities and to third party
                    service providers / partners / banks and financial
                    institutions for one or more of the Purposes or as may be
                    required by applicable law. In such case we will
                    contractually oblige the receiving parties of the
                    Information to ensure the same level of data protection that
                    is adhered to by Snapdeal under applicable law.
                  </li>
                  <li>
                    sell, transfer or otherwise share some or all of its assets,
                    including Your Information in connection with a merger,
                    acquisition, reorganization or sale of assets or business or
                    in the event of bankruptcy. Should such a sale or transfer
                    occur, such Snapdeal entity will reasonably ensure that the
                    Information you have provided and which we have collected is
                    stored and used by the transferee in a manner that is
                    consistent with this Privacy Policy. Any third party to
                    which any of Snapdeal entity transfers or sells as aforesaid
                    will have the right to continue to use the Information that
                    you provide to us or collected by us immediately prior to
                    such transfer or sale.
                  </li>
                </ol>
                <h2>Changes To This Agreement</h2>
                <p>
                  We reserve the right, at our sole discretion, to modify or
                  replace these Terms and Conditions by posting the updated
                  terms on the Site.
                  <br />
                </p>
              </section>
              <!-- .terms-conditions -->
            </div>
            <!-- .entry-content -->
          </div>
          <!-- .hentry -->
        </main>
        <!-- #main -->
      </div>
      <!-- #primary -->
    </div>
    <!-- .row -->
  </div>
  <!-- .col-full -->
</div>
<!-- #content -->
