<div id="content" class="site-content" tabindex="-1">
    <div class="col-full">
        <div class="row">
            <nav class="woocommerce-breadcrumb">
                <a href="home-v1.html">Home</a>
                <span class="delimiter">
                    <i class="tm tm-breadcrumbs-arrow-right"></i>
                </span><a href="product-category.html">TV & Video</a>
                <span class="delimiter">
                    <i class="tm tm-breadcrumbs-arrow-right"></i>
                </span>60UH6150 60-Inch 4K Ultra HD Smart LED TV
            </nav>
            <!-- .woocommerce-breadcrumb -->
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="product product-type-simple">
                        <div class="row single-product-wrapper">
                            <div class="col-md-6  product-images-wrapper thumb-count-4">
                                <span class="onsale  btn-success" >-
                                    <span class="woocommerce-Price-amount amount">
                                        <span class="woocommerce-Price-currencySymbol">$</span>242.99</span>
                                </span>
                                <!-- .onsale -->
                                <div id="techmarket-single-product-gallery" class="techmarket-single-product-gallery techmarket-single-product-gallery--with-images techmarket-single-product-gallery--columns-4 images" data-columns="4" data-slick="{'infinite':false,'slidesToShow':1,'slidesToScroll':1,'dots':false,'arrows':false,'asNavFor':'#techmarket-single-product-gallery .techmarket-single-product-gallery-thumbnails__wrapper'}">
                                    <div class="techmarket-single-product-gallery-images" data-ride="tm-slick-carousel" data-wrap=".woocommerce-product-gallery__wrapper" data-slick="{'infinite':false,'slidesToShow':1,'slidesToScroll':1,'dots':false,'arrows':false,'asNavFor':'#techmarket-single-product-gallery .techmarket-single-product-gallery-thumbnails__wrapper'}">
                                        <div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images" data-columns="4">
                                            <a href="#" class="woocommerce-product-gallery__trigger">🔍</a>
                                            <figure class="woocommerce-product-gallery__wrapper ">
                                                <div data-thumb="../../assets/images/products/sm-card-1.jpg" class="woocommerce-product-gallery__image">
                                                    <a href="../../assets/images/products/big-card.jpg" tabindex="0">
                                                        <img width="600" height="600" src="../../assets/images/products/big-card.jpg" class="attachment-shop_single size-shop_single wp-post-image" alt="">
                                                    </a>
                                                </div>
                                                <div data-thumb="../../assets/images/products/sm-card-3.jpg" class="woocommerce-product-gallery__image">
                                                    <a href="../../assets/images/products/big-card-2.jpg" tabindex="-1">
                                                        <img width="600" height="600" src="../../assets/images/products/big-card-2.jpg" class="attachment-shop_single size-shop_single" alt="">
                                                    </a>
                                                </div>
                                                <div data-thumb="../../assets/images/products/sm-card-2.jpg" class="woocommerce-product-gallery__image">
                                                    <a href="../../assets/images/products/big-card-1.jpg" tabindex="-1">
                                                        <img width="600" height="600" src="../../assets/images/products/big-card-1.jpg" class="attachment-shop_single size-shop_single" alt="">
                                                    </a>
                                                </div>
                                                <div data-thumb="../../assets/images/products/deals-sm-5.jpg" class="woocommerce-product-gallery__image">
                                                    <a href="../../assets/images/products/big-4.jpg" tabindex="-1">
                                                        <img width="600" height="600" src="../../assets/images/products/big-4.jpg" class="attachment-shop_single size-shop_single" alt=""> </a>
                                                </div>
                                                <div data-thumb="../../assets/images/products/sm-card-2.jpg" class="woocommerce-product-gallery__image">
                                                    <a href="../../assets/images/products/big-card-2.jpg" tabindex="-1">
                                                        <img width="600" height="600" src="../../assets/images/products/big-card-1.jpg" class="attachment-shop_single size-shop_single" alt="">
                                                    </a>
                                                </div>
                                            </figure>
                                        </div>
                                      
                                    </div> 

                                    <!-- <section class="brands-carousel">
                                        <h2 class="sr-only">Brands Carousel</h2>
                                        <div class="col-full" data-ride="tm-slick-carousel" data-wrap=".brands" data-slick="{'slidesToShow':6,'slidesToScroll':1,'dots':false,'arrows':true,'responsive':[{'breakpoint':400,'settings':{'slidesToShow':1,'slidesToScroll':1}},{'breakpoint':800,'settings':{'slidesToShow':3,'slidesToScroll':3}},{'breakpoint':992,'settings':{'slidesToShow':3,'slidesToScroll':3}},{'breakpoint':1200,'settings':{'slidesToShow':4,'slidesToScroll':4}},{'breakpoint':1400,'settings':{'slidesToShow':5,'slidesToScroll':5}}]}">
                                            <div class="brands">
                                                <div class="item">
                                                    <figure>
                                                        <img class="img-responsive desaturate" alt="No image" width="600" height="600" src="../../assets/images/products/big-card-1.jpg">
                                                    </figure>
                                            </div>
                                            <div class="item">
                                                <figure>
                                                    <img class="img-responsive desaturate" alt="No image" width="600" height="600" src="../../assets/images/products/big-card-1.jpg">
                                                </figure>
                                        </div>
                                            </div>
                                        </div>
                                    </section> -->
                                    <!-- .brands-carousel -->

                                    <!-- .techmarket-single-product-gallery-images -->
                                   
                                </div>
                                <!-- .techmarket-single-product-gallery -->
                            </div>
                            <!-- .product-images-wrapper -->
                            <div class="col-md-6  summary entry-summary">
                                <div class="single-product-header">
                                    <h1 class="product_title entry-title">60UH6150 60-Inch 4K Ultra HD Smart LED TV</h1>
                                    <a class="add-to-wishlist" href="wishlist.html"> Add to Wishlist</a>
                                </div>
                                <!-- .single-product-header -->
                                <div class="single-product-meta">
                                    <div class="brand">
                                        <a href="#">
                                            <img alt="galaxy" src="../../assets/images/brands/5.png">
                                        </a>
                                    </div>
                                    <div class="cat-and-sku">
                                        <span class="posted_in categories">
                                            <a rel="tag" href="product-category.html">TV &amp; Video</a>
                                        </span>
                                        <span class="sku_wrapper">SKU:
                                            <span class="sku">5487FB8/11</span>
                                        </span>
                                    </div>
                                    <div class="product-label">
                                        <div class="ribbon label green-label">
                                            <span>A+</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- .single-product-meta -->
                                <div class="rating-and-sharing-wrapper">
                                    <div class="woocommerce-product-rating">
                                        <div class="star-rating">
                                            <span style="width:100%">Rated
                                                <strong class="rating">5.00</strong> out of 5 based on
                                                <span class="rating">1</span> customer rating</span>
                                        </div>
                                        <a rel="nofollow" class="woocommerce-review-link" href="#reviews">(<span class="count">1</span> customer review)</a>
                                    </div>
                                </div>
                                <!-- .rating-and-sharing-wrapper -->
                                <div class="woocommerce-product-details__short-description">
                                    <ul>
                                        <li>Multimedia Speakers</li>
                                        <li>120 watts peak</li>
                                        <li>Front-facing subwoofer</li>
                                        <li>Refresh Rate: 120Hz (Effective)</li>
                                        <li>Backlight: LED</li>
                                        <li>Smart Functionality: Yes, webOS 3.0</li>
                                        <li>Dimensions (W x H x D): TV without stand: 43.5″ x 25.4″ x 3.0″, TV with stand: 43.5″ x 27.6″ x 8.5″</li>
                                        <li>Inputs: 3 HMDI, 2 USB, 1 RF, 1 Component, 1 Composite, 1 Optical, 1 RS232C, 1 Ethernet</li>
                                    </ul>
                                </div>
                                <!-- .woocommerce-product-details__short-description -->
                                <div class="product-actions-wrapper">
                                    <div class="product-actions">
                                        <p class="price">
                                            <del>
                                                <span class="woocommerce-Price-amount amount">
                                                    <span class="woocommerce-Price-currencySymbol">$</span>1,239.99</span>
                                            </del>
                                            <ins>
                                                <span class="woocommerce-Price-amount amount">
                                                    <span class="woocommerce-Price-currencySymbol">$</span>997.00</span>
                                            </ins>
                                        </p>
                                        <!-- .single-product-header -->
                                        <form enctype="multipart/form-data" method="post" class="cart">
                                            <div class="quantity">
                                                <label for="quantity-input">Quantity</label>
                                                <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" id="quantity-input">
                                            </div>
                                            <!-- .quantity -->
                                            <button class="single_add_to_cart_button button alt" value="185" name="add-to-cart" type="submit">Add to cart</button>
                                        </form>
                                        <!-- .cart -->
                                        <a class="add-to-compare-link" href="compare.html">Add to compare</a>
                                    </div>
                                    <!-- .product-actions -->
                                </div>
                                <!-- .product-actions-wrapper -->
                            </div>
                            <!-- .entry-summary -->
                        </div>
                        <!-- .single-product-wrapper -->
                        <div class="tm-related-products-carousel section-products-carousel" id="tm-related-products-carousel" data-ride="tm-slick-carousel" data-wrap=".products">
                            <section class="related">
                                <header class="section-header">
                                    <h2 class="section-title">Related products</h2>
                                    <nav class="custom-slick-nav"></nav>
                                </header>
                                <!-- .section-header -->
                                <div class="products">
                                    <div class="product">
                                        <div class="yith-wcwl-add-to-wishlist">
                                            <a href="wishlist.html" rel="nofollow" class="add_to_wishlist"> Add to Wishlist</a>
                                        </div>
                                        <a href="single-product-fullwidth.html" class="woocommerce-LoopProduct-link">
                                            <img src="../../assets/images/products/5.jpg" width="224" height="197" class="wp-post-image" alt="">
                                            <span class="price">
                                                <ins>
                                                    <span class="amount"> </span>
                                                </ins>
                                                <span class="amount"> 456.00</span>
                                            </span>
                                            <!-- /.price -->
                                            <h2 class="woocommerce-loop-product__title">XONE Wireless Controller</h2>
                                        </a>
                                        <div class="hover-area">
                                            <a class="button add_to_cart_button" href="cart.html" rel="nofollow">Add to cart</a>
                                            <a class="add-to-compare-link" href="compare.html">Add to compare</a>
                                        </div>
                                    </div>
                                    <!-- /.product-outer -->
                                  
                                </div>
                            </section>
                            <!-- .single-product-wrapper -->
                        </div>
                        <!-- .tm-related-products-carousel -->
                       
                    </div>
                    <!-- .product -->
                </main>
                <!-- #main -->
            </div>
            <!-- #primary -->
        </div>
        <!-- .row -->
    </div>
    <!-- .col-full -->
</div>
<!-- #content -->