<div id="content" class="site-content" tabindex="-1">
        <div class="col-full">
            <div class="row">
                <nav class="woocommerce-breadcrumb">
                    <a routerLink="/content">Home</a>
                    <span class="delimiter">
                        <i class="tm tm-breadcrumbs-arrow-right"></i>
                    </span><a routerLink="/singleProduct/{{id}}">Product Detail</a>
                    <span class="delimiter">
                        <i class="tm tm-breadcrumbs-arrow-right"></i>
                    </span>{{product_name}}
                </nav>
                <!-- .woocommerce-breadcrumb -->
                <div id="primary" class="content-area">
                    <main id="main" class="site-main">
                        <div class="product product-type-simple">
                            <div class="row single-product-wrapper">
                                <div class="col-md-2  product-images-wrapper thumb-count-4">
                                    <span class="onsale  btn-success" >Save:&nbsp;
                                        <span class="woocommerce-Price-amount amount">
                                            <span class="woocommerce-Price-currencySymbol"><i class="fa fa-inr"></i></span>{{product_price - product_sale_price}}</span>
                                    </span>

                                   
                                    <!-- .onsale -->
                                    <div id="techmarket-single-product-gallery" class="techmarket-single-product-gallery techmarket-single-product-gallery--with-images techmarket-single-product-gallery--columns-4 images" data-columns="4">
                                        <div class="techmarket-single-product-gallery-images" data-ride="tm-slick-carousel" data-wrap=".woocommerce-product-gallery__wrapper" data-slick='{"infinite":false,"slidesToShow":1,"slidesToScroll":1,"dots":false,"arrows":false,"asNavFor":"#techmarket-single-product-gallery .techmarket-single-product-gallery-thumbnails__wrapper"}'>
                                            <div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images" data-columns="4">
                                                <a href="#" class="woocommerce-product-gallery__trigger">🔍</a>
                                                <figure class="woocommerce-product-gallery__wrapper ">
                                                    <div [attr.data-thumb]="'http://localhost:3000'+ mainUrl " class="woocommerce-product-gallery__image">
                                                        <a (click)="replaceImage(mainUrl)" tabindex="0">
                                                            <img width="60" height="60" src="http://localhost:3000{{ mainUrl }}" class="attachment-shop_single size-shop_single wp-post-image" alt="">
                                                        </a>
                                                    </div>
                                                    <div  *ngFor="let image of image_url" [attr.data-thumb]="'http://localhost:3000'+ image " class="woocommerce-product-gallery__image">
                                                        <a (click)="replaceImage(image)" tabindex="-1">
                                                            <img width="60" height="60" src="http://localhost:3000{{ image }}" class="attachment-shop_single size-shop_single" alt="">
                                                        </a>
                                                    </div>
                                                    
                                                </figure>
                                            </div>
                                          
                                        </div>
                                    </div> 
                                   
                                    <!-- .techmarket-single-product-gallery -->
                                </div>
                                <div class="col-md-4 techmarket-single-product-gallery-thumbnails" data-ride="tm-slick-carousel" data-wrap=".techmarket-single-product-gallery-thumbnails__wrapper" data-slick='{"infinite":false,"slidesToShow":1,"slidesToScroll":1,"dots":false,"arrows":false,"asNavFor":"#techmarket-single-product-gallery .techmarket-single-product-gallery-thumbnails__wrapper"}'>
                                        <figure class="techmarket-single-product-gallery-thumbnails__wrapper">
                                            <figure *ngIf="imgNew == ''" data-thumb="assets/images/products/sm-card-1.jpg" class="techmarket-wc-product-gallery__image">
                                                <img width="" height="" src="http://localhost:3000{{mainUrl}}" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="">
                                            </figure>
                                            <figure *ngIf="imgNew != ''" data-thumb="assets/images/products/sm-card-3.jpg" class="techmarket-wc-product-gallery__image">
                                                <img width="" height="" src="http://localhost:3000{{imgNew}}" class="attachment-shop_thumbnail size-shop_thumbnail" alt="">
                                            </figure>
                                            
                                        </figure>
                                        <!-- .techmarket-single-product-gallery-thumbnails__wrapper -->
                                    </div>
                                <!-- .product-images-wrapper -->
                                <div class="col-md-6  summary entry-summary">
                                    <div class="single-product-header">
                                        <h1 class="product_title entry-title">{{product_name}}</h1>
                                    </div>
                                    <!-- .single-product-header -->
                                    <p class="price">
                                            <del>
                                                <span class="woocommerce-Price-amount amount">
                                                    <span class="woocommerce-Price-currencySymbol">Price: <i class="fa fa-inr"></i></span>{{product_price}}</span>
                                            </del>
                                            <br/>
                                            <ins>
                                                <span class="woocommerce-Price-amount amount">
                                                    <span class="woocommerce-Price-currencySymbol">Offer Price: <i class="fa fa-inr"></i></span>{{product_sale_price}}</span>
                                            </ins>
                                            <br/>
                                        </p>
                                    <div class="single-product-meta">
                                        <div class="product-label">
                                            <div class="ribbon label green-label">
                                                <span>A+</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .single-product-meta -->
                                    <div class="rating-and-sharing-wrapper">
                                        <div class="woocommerce-product-rating">
                                            <div class="star-rating">
                                                <span style="width:100%">Rated
                                                    <strong class="rating">5.00</strong> out of 5 based on
                                                    <span class="rating">1</span> customer rating</span>
                                            </div>
                                            <a rel="nofollow" class="woocommerce-review-link" href="#reviews">(<span class="count">1</span> customer review)</a>
                                        </div>
                                    </div>
                                    <!-- .rating-and-sharing-wrapper -->
                                    <br/>
                                    <h6>Features:</h6>
                                    <div class="woocommerce-product-details__short-description">
                                        <ul *ngIf="feature_arr[0] && feature_arr[0][0] && productFeature_arr[0]">
                                            <li *ngFor="let i of number_arr" >
                                                {{ feature_arr[i][0].feature_name }} :
                                                {{ productFeature_arr[i].feature_value }}
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- .woocommerce-product-details__short-description -->
                                    <div class="product-actions-wrapper">
                                        <div class="product-actions">
                                            
                                            <!-- .single-product-header -->
                                            <form enctype="multipart/form-data" method="post" class="cart">
                                                <div class="quantity">
                                                    <label for="quantity-input">Quantity</label>
                                                    <input type="number" size="4" class="input-text qty text" title="Qty" [(ngModel)]="quantity" name="quantity" id="quantity-input">
                                                </div>
                                                <!-- .quantity -->
                                                <br/>
                                                <a class="btn btn-primary" value="185" name="add-to-Wishlist"  href="wishlist.html">Add to Wishlist</a>
                                                &nbsp;
                                                <button class="btn btn-success" value="185" name="add-to-cart" type="submit">Add to Cart</button>
                                            </form>
                                            <!-- .cart -->
                                            <a class="add-to-compare-link" href="compare.html">Add to compare</a>
                                        </div>
                                        <!-- .product-actions -->
                                    </div>
                                    <!-- .product-actions-wrapper -->
                                </div>
                                <!-- .entry-summary -->
                            </div>
                            <!-- .single-product-wrapper -->
                            <!-- <div class="tm-related-products-carousel section-products-carousel" id="tm-related-products-carousel" data-ride="tm-slick-carousel" data-wrap=".products">
                                <section class="related">
                                    <header class="section-header">
                                        <h2 class="section-title">Related products</h2>
                                        <nav class="custom-slick-nav"></nav>
                                    </header>
                                    <div class="products">
                                        <div class="product">
                                            <div class="yith-wcwl-add-to-wishlist">
                                                <a href="wishlist.html" rel="nofollow" class="add_to_wishlist"> Add to Wishlist</a>
                                            </div>
                                            <a href="single-product-fullwidth.html" class="woocommerce-LoopProduct-link">
                                                <img src="../../assets/images/products/5.jpg" width="224" height="197" class="wp-post-image" alt="">
                                                <span class="price">
                                                    <ins>
                                                        <span class="amount"> </span>
                                                    </ins>
                                                    <span class="amount"> 456.00</span>
                                                </span>
                                                <h2 class="woocommerce-loop-product__title">XONE Wireless Controller</h2>
                                            </a>
                                            <div class="hover-area">
                                                <a class="button add_to_cart_button" href="cart.html" rel="nofollow">Add to cart</a>
                                                <a class="add-to-compare-link" href="compare.html">Add to compare</a>
                                            </div>
                                        </div>
                                      
                                    </div>
                                </section>
                            </div> -->
                            <!-- .tm-related-products-carousel -->
                           
                        </div>
                        <!-- .product -->
                    </main>
                    <!-- #main -->
                </div>
                <!-- #primary -->
            </div>
            <!-- .row -->
        </div>
        <!-- .col-full -->
    </div>
    <!-- #content -->
    