<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image">
              <img
                src="https://apps.odoo.com/apps/icon_image?module_id=32428"
                height="100%"
                width="100%"
              />
            </div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Update Product Image</h1>
                </div>
                <form
                  class="productImage"
                  [formGroup]="updateProductImageForm"
                  (ngSubmit)="onSubmit(updateProductImageForm.value)"
                >
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control form-control-productImage"
                      placeholder="Enter url here..."
                      formControlName="image_url"
                    />
                    <label
                      class="text-danger"
                      *ngIf="
                        updateProductImageForm
                          .get('image_url')
                          .hasError('required') &&
                        updateProductImageForm.get('image_url').touched
                      "
                    >
                      URL is <strong>required</strong>
                    </label>
                  </div>

                  <div class="form-group">
                    <select
                      class="form-control form-control-productImage"
                      aria-describedby=""
                      placeholder="Enter product id..."
                      formControlName="fk_product_id"
                    >
                      <option
                        *ngFor="let item of product_arr"
                        value="{{ item.pk_product_id }}"
                      >
                        {{ item.product_name }}
                      </option>
                    </select>

                    <label
                      class="text-danger"
                      *ngIf="
                        updateProductImageForm
                          .get('fk_product_id')
                          .hasError('required') &&
                        updateProductImageForm.get('fk_product_id').touched
                      "
                    >
                      Product Id is <strong>required</strong>
                    </label>
                  </div>

                  <button
                    class="btn btn-primary btn-productImage btn-block"
                    type="submit"
                    [disabled]="updateProductImageForm.invalid"
                  >
                    Update
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
