<div class="container" *ngIf="flag == 'true'; else notLogin">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Profile</h6>
      </div>
      <div class="card-body">
        <table class="table ">
          <tr>
            <th class="table-primary">Email id:</th>
            <td>{{ id }}</td>
          </tr>
          <tr>
            <th class="table-primary">Name:</th>
            <td>{{ name }}</td>
          </tr>
          <tr>
            <th class="table-primary">Password:</th>
            <td>{{ password }}</td>
          </tr>
          <tr>
            <th class="table-primary">Mobile:</th>
            <td>{{ mobile }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<ng-template #notLogin>
  <h1 class="h3 mb-2 text-gray-800 text-danger">
    You Can Not Access This Page...!!!!
  </h1>
</ng-template>
