<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Features</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        All Features
      </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>Name</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody *ngFor="let item of feature_arr">
            <tr>
              <td>{{ item.feature_name }}</td>
              <td colspan="3">
                <button
                  class="btn btn-primary btn-md"
                  (click)="deleteFeature(item.pk_feature_id)"
                >
                  <span class="fa fa-trash"></span>
                </button>
                <!-- <button
                    class="btn btn-primary btn-md"
                    (click)="singlefeature(item.pk_feature_id)"
                  >
                    View
                  </button> -->
                &nbsp;
                <button
                  class="btn btn-primary btn-md"
                  routerLink="/updateFeature/{{ item.pk_feature_id }}"
                >
                  <span class="fa fa-pencil"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
