<div class="top-bar top-bar-v2">
    <div class="col-full">
        <ul id="menu-top-bar-left" class="nav menu-top-bar-left">
            <li class="menu-item animate-dropdown">
                <a title="TechMarket eCommerce - Always free delivery" href="">TechMarket eCommerce &#8211; Always free delivery</a>
            </li>
            <li class="menu-item animate-dropdown">
                <a title="Quality Guarantee of products" routerLink="/productAll">Quality Guarantee of products</a>
            </li>
            <li class="menu-item animate-dropdown">
                <a title="Fast returnings program" routerLink="/orderHistory">Fast returnings program</a>
            </li>
            <li class="menu-item animate-dropdown">
                <a title="No additional fees" >No additional fees</a>
            </li>
        </ul>
        <!-- .nav -->
        <ul id="menu-top-bar-right" class="nav menu-top-bar-right">
            <li class="hidden-sm-down menu-item animate-dropdown">
                <a title="Track Your Order" routerLink="/orderHistory">
                    <i class="tm tm-order-tracking"></i>Track Your Order</a>
            </li>
            <li *ngIf="id != ''" class="menu-item menu-item-has-children animate-dropdown dropdown">
                <a  data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true" href="#">Profile<span class="caret"></span></a>
                <ul role="menu" class=" dropdown-menu">
                      <li class="menu-item animate-dropdown">
                              <a title="ShowProfile" routerLink="/profile">Show Profile</a>
                          </li>
                    <li class="menu-item animate-dropdown">
                        <a title="AddtoCart" routerLink="/cart">Show Cart</a>
                    </li>
                    <li class="menu-item animate-dropdown">
                      <a title="AddtoCart" routerLink="/orderHistory">Order History</a>
                  </li>
                    
                </ul>
                <!-- .dropdown-menu -->
            </li>
          
            <li *ngIf="id == ''" class="menu-item animate-dropdown">
              <a title="Login/Register" routerLink="/loginSignup"><i class="tm tm-login-register"></i>Register or Sign in</a>
          </li>
          <li *ngIf="id != ''" class="menu-item animate-dropdown">
              <a title="Logout" (click)="logout()">Logout</a>
          </li>
           
           
        </ul>
        <!-- .nav -->
    </div>
    <!-- .col-full -->
</div>
<!-- .top-bar-v2 -->
<header id="masthead" class="site-header header-v2" style="background-image: none; ">
   
    <div class="col-full desktop-only">
            <div class="techmarket-sticky-wrap">
        <div class="row">
            <div class="site-branding">
                <a routerLink="/" class="custom-logo-link" rel="home">
                    <img src="../../assets/images/custom/logo.png" alt="not available">
                </a>
                <!-- /.custom-logo-link -->
            </div>
            <!-- /.site-branding -->
            <!-- ============================================================= End Header Logo ============================================================= -->
            <div id="departments-menu" class="dropdown departments-menu">
                <button class="btn dropdown-toggle btn-block" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="tm tm-departments-thin"></i>
                    <span>All Departments</span>
                </button>
                <ul id="menu-departments-menu" class="dropdown-menu yamm departments-menu-dropdown">
                   
                    <li class="menu-item animate-dropdown" *ngFor="let item of category_arr">
                        <a title="{{item.category_name}}" routerLink="/productByCategory/{{ item.pk_category_id }}">{{item.category_name}}</a>
                    </li>
                </ul>
            </div>
            <!-- .departments-menu -->
            <form class="navbar-search" [formGroup]="searchForm"
            (ngSubmit)="onSearch(searchForm.value)">
                <label class="sr-only screen-reader-text" for="search">Search for:</label>
                <div class="input-group">
                    <input type="text" formControlName="search_product" id="search" class="form-control search-field product-search-field" dir="ltr" value="" name="s" placeholder="Search for products" />
                    <div class="input-group-addon search-categories">
                        <select formControlName="search_category" name='product_cat' id='product_cat' class='postform resizeselect'>
                            <option value='' selected='selected'>All Categories</option>
                            <option *ngFor="let item of category_arr"  class="level-0" value={{item.pk_category_id}}>{{item.category_name}}</option>
                            
                        </select>
                    </div>
                    <!-- .input-group-addon -->
                    <div class="input-group-btn">
                        <input type="hidden" id="search-param" name="post_type" value="product" />
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-search"></i>
                            <span class="search-btn">Search</span>
                        </button>
                    </div>
                    <!-- .input-group-btn -->
                </div>
                <!-- .input-group -->
            </form>
            <!-- .navbar-search -->
           
            <ul class="header-wishlist nav navbar-nav" *ngIf="id != ''">
                <li class="nav-item">
                    <a routerLink="/showWishlist" class="nav-link">
                        <i class="tm tm-favorites" style="color: red;"></i>
                        <span *ngIf="wishlist_arr" id="top-cart-wishlist-count" class="value">{{ wishlist_arr.length }}</span>
                    </a>
                </li>
            </ul>
            <!-- .header-wishlist -->
            <ul id="site-header-cart" class="site-header-cart menu" *ngIf="id != ''">
                <li class="animate-dropdown dropdown ">
                    <a class="cart-contents"  data-toggle="dropdown" title="View your shopping cart">
                        <i class="tm tm-shopping-bag"></i>
                        <span class="count">{{cart_arr.length }}</span>
                        <span class="amount">
                            <span class="price-label">Your Cart</span>&#8377; {{ grandTotal }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-mini-cart">
                        <li>
                            <div class="widget woocommerce widget_shopping_cart">
                                <div class="widget_shopping_cart_content" *ngIf="cart_arr[0]">
                                    <ul class="woocommerce-mini-cart cart_list product_list_widget ">
                                        <li class="woocommerce-mini-cart-item mini_cart_item" *ngFor="let item of cart_arr;let i = index">
                                            <a href="#" (click)="deleteItem(item.pk_cart_id)" class="remove" aria-label="Remove this item" data-product_id="65" data-product_sku="">×</a>
                                            <a href="single-product-sidebar.html" *ngIf="productName_arr[i]">
                                                <img src="http://localhost:3000{{productImage_arr[i]}}" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="">{{productName_arr[i]}}&nbsp;
                                            </a>
                                            <span class="quantity" *ngIf="qty_arr">{{qty_arr[i]}} ×
                                                <span class="woocommerce-Price-amount amount" *ngIf="productPrice_arr">
                                                    <span class="woocommerce-Price-currencySymbol"> &#8377; </span>{{productPrice_arr[i]}}</span>
                                            </span>
                                        </li>
                                     
                                    </ul>
                                    <!-- .cart_list -->
                                    <p class="woocommerce-mini-cart__total total">
                                        <strong>Subtotal:</strong>
                                        <span class="woocommerce-Price-amount amount">
                                            <span class="woocommerce-Price-currencySymbol">&#8377; </span> {{ grandTotal }}</span>
                                    </p>
                                    <p class="woocommerce-mini-cart__buttons buttons">
                                        <a routerLink="/cart" class="button wc-forward">View cart</a>
                                        <a routerLink="/checkout" class="button checkout wc-forward">Checkout</a>
                                    </p>
                                </div>
                                <!-- .widget_shopping_cart_content -->
                            </div>
                            <!-- .widget_shopping_cart -->
                        </li>
                    </ul>
                    <!-- .dropdown-menu-mini-cart -->
                </li>
            </ul>
            <!-- .site-header-cart -->
        </div>
        <!-- /.row -->
    </div>
  
    </div>
    <!-- .col-full -->
    <div class="col-full handheld-only">
        <div class="handheld-header">
            <div class="row">
                <div class="site-branding">
                    <a routerLink="/" class="custom-logo-link" rel="home">
                        <img src="../../assets/images/custom/logo.png" alt="not available">
                    </a>
                    <!-- /.custom-logo-link -->
                </div>
                <!-- /.site-branding -->
                <!-- ============================================================= End Header Logo ============================================================= -->
                <div class="handheld-header-links">
                    <ul class="columns-3">
                        <li *ngIf="id == ''" class="menu-item animate-dropdown">
                            <a title="Login/Register" routerLink="/loginSignup"><i class="tm tm-login-register"></i>Register or Sign in</a>
                        </li>
                        <li *ngIf="id != ''" class="menu-item animate-dropdown">
                            <a title="Logout" (click)="logout()">Logout</a>
                        </li>
                        <li class="wishlist"  *ngIf="id != ''">
                            <a routerLink="/showWishlist" class="nav-link">
                                <i class="tm tm-favorites" style="color: red;"></i>
                                <span *ngIf="wishlist_arr" id="top-cart-wishlist-count" class="value">{{ wishlist_arr.length }}</span>
                            </a>
                        </li>
                        
                    </ul>
                    <!-- .columns-3 -->
                </div>
                <!-- .handheld-header-links -->
            </div>
            <!-- /.row -->
            <div class="techmarket-sticky-wrap">
                <div class="row">
                    <nav id="handheld-navigation" class="handheld-navigation" aria-label="Handheld Navigation">
                        <button class="btn navbar-toggler" type="button">
                            <i class="tm tm-departments-thin"></i>
                            <span>Menu</span>
                        </button>
                        <div class="handheld-navigation-menu">
                            <span class="tmhm-close">Close</span>
                            <ul id="menu-departments-menu-1" class="nav">
                                
                                <li class="menu-item animate-dropdown" *ngFor="let item of category_arr">
                                    <a title="{{item.category_name}}" routerLink="/productByCategory/{{ item.pk_category_id }}">{{item.category_name}}</a>
                                </li>
                              
                            </ul>
                        </div>
                        <!-- .handheld-navigation-menu -->
                    </nav>
                    <!-- .handheld-navigation -->
                    <div class="site-search">
                        <div class="widget woocommerce widget_product_search">
                            <form role="search" class="woocommerce-product-search" [formGroup]="searchForm"
                            (ngSubmit)="onSearch(searchForm.value)">
                                <label class="screen-reader-text" for="woocommerce-product-search-field-0">Search for:</label>
                                <input type="search" formControlName="search_product" id="woocommerce-product-search-field-0" class="search-field" placeholder="Search products&hellip;" value="" name="s" />
                                <input type="submit" value="Search" />
                                <input type="hidden" name="post_type" value="product" />
                            </form>
                        </div>
                        <!-- .widget -->
                    </div>
                    <!-- .site-search -->
                    <a class="handheld-header-cart-link has-icon" routerLink="/cart" title="View your shopping cart" *ngIf="id != ''">
                        <i class="tm tm-shopping-bag"></i>
                        <span class="count">{{cart_arr.length}}</span>
                    </a>
                </div>
                <!-- /.row -->
            </div>
            <!-- .techmarket-sticky-wrap -->
        </div>
        <!-- .handheld-header -->
    </div>
    <!-- .handheld-only -->
</header>
<!-- .header-v2 -->