<div class="container-fluid" *ngIf="flag == 'true'; else notLogin">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Order</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        All Orders
      </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>Date</th>
              <th>User</th>
              <th>Address Name</th>
              <th>Mobile</th>
              <th>Address Line1</th>
              <th>Address Line2</th>
              <th>Landmark</th>
              <th>Pincode</th>
              <th>City</th>
              <!-- <th>Action</th> -->
            </tr>
          </thead>

          <tbody *ngFor="let item of order_arr">
            <tr>
              <td>{{ item.order_date }}</td>
              <td>{{ item.user_name }}</td>
              <td>{{ item.address_name }}</td>
              <td>{{ item.address_mobile }}</td>
              <td>{{ item.address_line_1 }}</td>
              <td>{{ item.address_line_2 }}</td>
              <td>{{ item.address_landmark }}</td>
              <td>{{ item.address_pincode }}</td>
              <td>{{ item.address_city }}</td>
              <!-- <td colspan="3">
                <button
                  class="btn btn-primary btn-md"
                  (click)="deleteOrder(item.pk_order_id)"
                >
                  <span class="fa fa-trash"></span>
                </button>
               
                
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<ng-template #notLogin>
  <h1 class="h3 mb-2 text-gray-800 text-danger">
    You Can Not Access This Page...!!!!
  </h1>
</ng-template>
