<div class="container-fluid" *ngIf="flag == 'true'; else notLogin">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Order Details</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        All Order Details
      </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>Order Date</th>
              <th>Product</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Order Status</th>
              <th>Change Status</th>
              <!-- <th>Action</th> -->
            </tr>
          </thead>

          <tbody *ngFor="let item of orderDetail_arr">
            <tr>
              <td>{{ item.order_date }}</td>
              <td>{{ item.product_name }}</td>
              <td>{{ item.detail_qty }}</td>
              <td>{{ item.detail_price }}</td>
              <td>{{ item.order_status }}</td>
              <td>
                <select
                  [(ngModel)]="status"
                  (change)="onStatus(item.pk_detail_id)"
                >
                  <option value="In Process">In Process</option>
                  <option value="Packed">Packed</option>
                  <option value="Shipped">Shipped</option>
                  <option value="Out For Delivery">Out For Delivery</option>
                  <option value="Delivered">Delivered</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #notLogin>
  <app-not-login></app-not-login>
</ng-template>
