<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">User Addresss</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        All User Addresss
      </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>Name</th>
              <th>Mobile</th>
              <th>Address Line1</th>
              <th>Address Line2</th>
              <th>Landmark</th>
              <th>Pincode</th>
              <th>City</th>
              <th>User</th>
              <th>is_default</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody *ngFor="let item of userAddress_arr">
            <tr>
              <td>{{ item.address_name }}</td>
              <td>{{ item.address_mobile }}</td>
              <td>{{ item.address_line_1 }}</td>
              <td>{{ item.address_line_2 }}</td>
              <td>{{ item.address_landmark }}</td>
              <td>{{ item.address_pincode }}</td>
              <td>{{ item.address_city }}</td>
              <td>{{ item.user_name }}</td>
              <td *ngIf="item.is_default == 1">Default</td>
              <td *ngIf="item.is_default == 0">Not Default</td>
              <td colspan="3">
                <button
                  class="btn btn-primary btn-md"
                  (click)="deleteUserAddress(item.pk_address_id)"
                >
                  <span class="fa fa-trash"></span>
                </button>
                <!-- <button
                    class="btn btn-primary btn-md"
                    (click)="singleuserAddress(item.pk_userAddress_id)"
                  >
                    View
                  </button> -->
                &nbsp;
                <button
                  class="btn btn-primary btn-md"
                  routerLink="/updateUserAddress/{{ item.pk_address_id }}"
                >
                  <span class="fa fa-pen"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
