<div class="container-fluid" *ngIf="flag == 'true'; else notLogin">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Products</h1>
  <!-- card -->
  <div class="row">
    <div class="col-md-3" *ngFor="let item of product_arr; let i = index">
      <div class="card" style="width: 18rem;">
        <img
          class="card-img-top"
          src="http://localhost:3000/{{ item.image_url }}"
          alt="Card image cap"
          height="250"
          width="150"
        />

        <div class="card-body">
          <h5 class="card-title"><b>Name:</b>{{ item.product_name }}</h5>

          <button
            class="btn btn-danger btn-md"
            (click)="
              deleteProduct(
                item.pk_product_id,
                item.fk_product_id,
                item.pk_product_feature_id
              )
            "
          >
            <span class="fa fa-trash"></span>
          </button>

          &nbsp;
          <button
            class="btn btn-success btn-md"
            routerLink="/updateProduct/{{ item.pk_product_id }}"
          >
            <span class="fa fa-pencil"></span>
          </button>

          &nbsp;
          <button
            class="btn btn-primary"
            type="button"
            routerLink="/singleProduct/{{ item.pk_product_id }}"
          >
            More
          </button>
        </div>
      </div>
    </div>
    <br *ngIf="(i + 1) % 4 == 0" />
  </div>
</div>

<ng-template #notLogin>
  <h1 class="h3 mb-2 text-gray-800 text-danger">
    You Can Not Access This Page...!!!!
  </h1>
</ng-template>
