<div id="content" class="site-content">
  <div class="col-full">
      <div class="row">
          <nav class="woocommerce-breadcrumb">
              <a href="home-v1.html">Home</a>
              <span class="delimiter">
                  <i class="tm tm-breadcrumbs-arrow-right"></i>
              </span>My Account
          </nav>
          <!-- .woocommerce-breadcrumb -->
          <div id="primary" class="content-area">
              <main id="main" class="site-main">
                  <div class="type-page hentry">
                      <div class="entry-content">
                          <div class="woocommerce">
                              <div class="customer-login-form">
                                  <span class="or-text">or</span>
                                  <div id="customer_login" class="u-columns col2-set">
                                      <div class="u-column1 col-1">
                                          <h2>Login</h2>
                                          <form method="post" class="woocomerce-form woocommerce-form-login login"
                                           [formGroup]="loginForm"
                                          (ngSubmit)="onLogin(loginForm.value)">
                                              <p class="before-login-text">
                                                  Vestibulum lacus magna, faucibus vitae dui eget, aliquam fringilla. In et commodo elit. Class aptent taciti sociosqu ad litora.
                                              </p>
                                              <p class="form-row form-row-wide">
                                                  <label for="username">Username or email address
                                                      <span class="required">*</span>
                                                  </label>
                                                  <input type="text" formControlName="user_email" class="input-text" name="username" id="username" value="" />
                                                  
                                                  <label
                      class="text-danger"
                      *ngIf="
                        loginForm.get('user_email').hasError('email') &&
                        !loginForm.get('user_email').hasError('required')
                      "
                    >
                      Please enter a valid email address
                    </label>
                    <label
                      class="text-danger"
                      *ngIf="
                        loginForm
                          .get('user_email')
                          .hasError('required') &&
                        loginForm.get('user_email').touched
                      "
                    >
                      Email is <strong>required</strong>
                    </label>

                                                </p>
                                              <p class="form-row form-row-wide">
                                                  <label for="password">Password
                                                      <span class="required">*</span>
                                                  </label>
                                                  <input formControlName="user_password" class="input-text" type="password" name="password" id="password" />
                                                  
                                                  <label
                                                  class="text-danger"
                                                  *ngIf="
                                                    loginForm
                                                      .get('user_password')
                                                      .hasError('required') &&
                                                    loginForm.get('user_password').touched
                                                  "
                                                >
                                                  Password is <strong>required</strong>
                                                </label>
                                                </p>
                                              <p class="form-row">
                                                  <input class="woocommerce-Button button" type="submit" value="Login" name="login">
                                                  
                                              </p>
                                              <p class="woocommerce-LostPassword lost_password">
                                                  <a routerLink="/forgotPassword">Lost your password?</a>
                                              </p>
                                          </form>
                                          <!-- .woocommerce-form-login -->
                                      </div>
                                      <!-- .col-1 -->
                                      <div class="u-column2 col-2">
                                          <h2>Register</h2>
                                          <form class="register" method="post" [formGroup]="insertUserForm"
                                          (ngSubmit)="onSignup(insertUserForm.value)">
                                              <p class="before-register-text">
                                                  Create new account today to reap the benefits of a personalized shopping experience. Praesent placerat, est sed aliquet finibus.
                                              </p>
                                              <p class="form-row form-row-wide">
                                                <label for="reg_email">Name
                                                    <span class="required">*</span>
                                                </label>
                                                <input type="text" formControlName="user_name" value=""  class="woocommerce-Input woocommerce-Input--text input-text">
                                                <label
                      class="text-danger"
                      *ngIf="
                        insertUserForm.get('user_name').hasError('required') &&
                        insertUserForm.get('user_name').touched
                      "
                    >
                      Name is <strong>required</strong>
                    </label>
                                            </p>
                                              <p class="form-row form-row-wide">
                                                  <label for="reg_email">Email address
                                                      <span class="required">*</span>
                                                  </label>
                                                  <input type="email" formControlName="user_email" value="" id="reg_email" name="email" class="woocommerce-Input woocommerce-Input--text input-text">
                                                  <label
                      class="text-danger"
                      *ngIf="
                        insertUserForm.get('user_email').hasError('email') &&
                        !insertUserForm.get('user_email').hasError('required')
                      "
                    >
                      Please enter a valid email address
                    </label>
                    <label
                      class="text-danger"
                      *ngIf="
                        insertUserForm.get('user_email').hasError('required') &&
                        insertUserForm.get('user_email').touched
                      "
                    >
                      Email is <strong>required</strong>
                    </label>
                                                </p>

                                                <p class="form-row form-row-wide">
                                                    <label for="reg_email">Mobile
                                                        <span class="required">*</span>
                                                    </label>
                                                    <input type="text" formControlName="user_mobile" value=""  class="woocommerce-Input woocommerce-Input--text input-text">
                                                    <label
                                                    class="text-danger"
                                                    *ngIf="
                                                      insertUserForm
                                                        .get('user_mobile')
                                                        .hasError('required') &&
                                                      insertUserForm.get('user_mobile').touched
                                                    "
                                                  >
                                                    Mobile number is <strong>required</strong>
                                                  </label>
                                                </p>

                                              <p class="form-row form-row-wide">
                                                <label for="reg_1password">Password
                                                    <span class="required">*</span>
                                                </label>
                                                <input type="password" formControlName="user_password" id="reg_1password" name="password" class="woocommerce-Input woocommerce-Input--text input-text">
                                                <label
                      class="text-danger"
                      *ngIf="
                        insertUserForm
                          .get('user_password')
                          .hasError('required') &&
                        insertUserForm.get('user_password').touched
                      "
                    >
                      Password is <strong>required</strong>
                    </label>
                                            </p>


                                            <p class="form-row form-row-wide">
                                                <label for="reg_cpassword">Confirm Password
                                                    <span class="required">*</span>
                                                </label>
                                                <input type="password"  id="reg_cpassword" formControlName="user_confirm_password" name="password" class="woocommerce-Input woocommerce-Input--text input-text">
                                                <label
                      class="text-danger"
                      *ngIf="
                        insertUserForm
                          .get('user_confirm_password')
                          .hasError('required') &&
                        insertUserForm.get('user_confirm_password').touched
                      "
                    >
                      Conform Password is <strong>required</strong>
                    </label>

                    <label
                    class="text-danger"
                    *ngIf="
                      insertUserForm
                        .get('user_password').value != insertUserForm
                        .get('user_confirm_password').value && insertUserForm.get('user_confirm_password').touched
                        
                    "
                  >
                   Password and Conform Password Should <strong>Match</strong>
                  </label>
                                            </p>

                                              <p class="form-row">
                                                  <input type="submit" class="woocommerce-Button button" name="register" value="Register" />
                                              </p>
                                              <div class="register-benefits">
                                                  <h3>Sign up today and you will be able to :</h3>
                                                  <ul>
                                                      <li>Speed your way through checkout</li>
                                                      <li>Track your orders easily</li>
                                                      <li>Keep a record of all your purchases</li>
                                                  </ul>
                                              </div>
                                          </form>
                                          <!-- .register -->
                                      </div>
                                      <!-- .col-2 -->
                                  </div>
                                  <!-- .col2-set -->
                              </div>
                              <!-- .customer-login-form -->
                          </div>
                          <!-- .woocommerce -->
                      </div>
                      <!-- .entry-content -->
                  </div>
                  <!-- .hentry -->
              </main>
              <!-- #main -->
          </div>
          <!-- #primary -->
      </div>
      <!-- .row -->
  </div>
  <!-- .col-full -->
</div>
<!-- #content -->
