<div id="content" class="site-content" tabindex="-1">
  <div class="col-full">
    <div class="row">
      <div id="primary" class="content-area">
        <main id="main" class="site-main">
          <div class="home-v4-slider home-slider">
            <div
              class="slider-1"
              style="background-image: url(assets/images/custom/banner.jpg);"
            >
              <div class="caption">
                <div class="title">
                  The gift they are <br />wishing for is right here
                </div>
                <div class="sub-title">
                  The curved display has a curvature level equivalent to that of
                  a circle, tracks the rounded shape of the eyes better
                </div>
                <div class="button" routerLink="/productAll">
                  Get Yours now
                  <i class="tm tm-long-arrow-right"></i>
                </div>
                <div class="bottom-caption">Free shipping on US Terority</div>
              </div>
            </div>
          </div>

          <!-- .home-v4-slider -->
          <div class="features-list">
            <div class="features">
              <div class="feature">
                <div class="media">
                  <i class="feature-icon d-flex mr-3 tm tm-free-delivery"></i>
                  <div class="media-body feature-text">
                    <h5 class="mt-0">Free Delivery</h5>
                    <span>from $50</span>
                  </div>
                </div>
              </div>
              <!-- .feature -->
              <div class="feature">
                <div class="media">
                  <i class="feature-icon d-flex mr-3 tm tm-feedback"></i>
                  <div class="media-body feature-text">
                    <h5 class="mt-0">99% Customer</h5>
                    <span>Feedbacks</span>
                  </div>
                </div>
                <!-- .media -->
              </div>
              <!-- .feature -->
              <div class="feature">
                <div class="media">
                  <i class="feature-icon d-flex mr-3 tm tm-free-return"></i>
                  <div class="media-body feature-text">
                    <h5 class="mt-0">365 Days</h5>
                    <span>for free return</span>
                  </div>
                </div>
                <!-- .media -->
              </div>
              <!-- .feature -->
              <div class="feature">
                <div class="media">
                  <i class="feature-icon d-flex mr-3 tm tm-safe-payments"></i>
                  <div class="media-body feature-text">
                    <h5 class="mt-0">Payment</h5>
                    <span>Secure System</span>
                  </div>
                </div>
                <!-- .media -->
              </div>
              <!-- .feature -->
              <div class="feature">
                <div class="media">
                  <i class="feature-icon d-flex mr-3 tm tm-best-brands"></i>
                  <div class="media-body feature-text">
                    <h5 class="mt-0">Only Best</h5>
                    <span>Brands</span>
                  </div>
                </div>
                <!-- .media -->
              </div>
              <!-- .feature -->
            </div>
            <!-- .features -->
          </div>
          <!-- /.features list -->
          <div class="banners">
            <div class="row">
              <div class="banner small-banner text-in-left">
                <a href="shop.html">
                  <div
                    style="background-size: cover; background-position: center center; background-image: url( assets/images/banner/3-1.jpg); height: 259px;"
                    class="banner-bg"
                  >
                    <div class="caption">
                      <div class="banner-info">
                        <h3 class="title">
                          New Arrivals <br />
                          in
                          <strong>Accessories</strong>
                          <br />
                          at Best Prices.
                        </h3>
                      </div>
                      <!-- .banner-info -->
                      <span class="banner-action button">View all</span>
                    </div>
                    <!-- .caption -->
                  </div>
                  <!-- .banner-bg -->
                </a>
              </div>
              <!-- .banner -->
              <div class="banner large-banner text-in-right">
                <a href="shop.html">
                  <div
                    style="background-size: cover; background-position: center center; background-image: url( assets/images/banner/3-4.jpg); height: 259px;"
                    class="banner-bg"
                  >
                    <div class="caption">
                      <div class="banner-info">
                        <h3 class="title">
                          Catch Hottest
                          <br />
                          <strong>Deals</strong> on the <br />
                          Curved Soundbars.
                        </h3>
                      </div>
                      <!-- .banner-info -->
                      <span class="banner-action button">Browse</span>
                    </div>
                    <!-- .caption -->
                  </div>
                  <!-- .banner-bg -->
                </a>
              </div>
              <!-- .banner -->
              <div class="banner small-banner text-in-left">
                <a href="shop.html">
                  <div
                    style="background-size: cover; background-position: center center; background-image: url( assets/images/banner/3-3.jpg); height: 259px;"
                    class="banner-bg"
                  >
                    <div class="caption">
                      <div class="banner-info">
                        <h3 class="title">
                          <strong>1000 mAh</strong>
                          <br />
                          Power Bank Pro
                        </h3>
                      </div>
                      <!-- .banner-info -->
                      <span class="price">$34.99</span>
                      <span class="banner-action button">Buy Now</span>
                    </div>
                    <!-- .caption -->
                  </div>
                  <!-- .banner-bg -->
                </a>
              </div>
              <!-- .banner -->
            </div>
            <!-- .row -->
          </div>
          <!-- .banners -->
          <div class="fullwidth-notice stretch-full-width">
            <div class="col-full">
              <p class="message">
                Download our new app today! Dont miss our mobile-only offers and
                shop with Android Play.
              </p>
            </div>
            <!-- .col-full -->
          </div>
          <!-- .fullwidth-notice -->
          <app-product></app-product>
          <app-categories></app-categories>
        </main>
        <!-- #main -->
      </div>
      <!-- #primary -->
    </div>
    <!-- .row -->
  </div>
  <!-- .col-full -->
</div>
<!-- #content -->
